In [1]:
# 1) Import Libraries

import pandas as pd
import os
import requests
import io
import numpy as np
import datetime
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
cf.go_offline()
import plotly.express as px
import plotly.graph_objects as go

In [2]:
# 2) Import Data
# 2.1) Set Folder Path

PATH_A = 'C:\\Users\\AgaPakos\\Documents\\UE\\ERAZMUS\\Bolonia\\STUDY\\Machine Learning Systems for Data Science - Systems and Algorithms for Data Science\\covid19'
PATH_M = 'C:\\Users\\maxim\\OneDrive\\Desktop\\Unibo\\Machine Learning Systems for Data Science_90477\\Module II\\Final Project'
PATH_D = ''

In [3]:
# 2.2) Import Air Quality data from Local Path

# Select one of the paths here
air_PATH = os.path.join(PATH_M, 'new-york-air-quality.csv')
air = pd.read_csv(air_PATH, parse_dates = ['date'])
print(air.columns) # renaming neccesary for the last 4 columns
air.rename(columns={' pm25': 'pm25', ' o3': 'o3', ' no2': 'no2', ' co': 'co'}, inplace = True)

# Overview
print(air.head())
air.info() # We can see that the columns in air need to be converted to 'int64'
air.describe(include = 'all', datetime_is_numeric = True) # 'datetime_is_numeric = True' is used to silence a known Python warning

Index(['date', ' pm25', ' o3', ' no2', ' co'], dtype='object')
        date pm25   o3  no2  co
0 2022-11-01   40   28   20   3
1 2022-11-02   45   23   25   3
2 2022-11-03   53   17   26   4
3 2022-11-04   47   24   10   1
4 2022-11-05   31   21    6   1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3200 non-null   datetime64[ns]
 1   pm25    3200 non-null   object
 2   o3      3200 non-null   object
 3   no2     3200 non-null   object
 4   co      3200 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 125.1+ KB

                       date  pm25    o3   no2    co
count                  3200  3200  3200  3200  3200
unique                  NaN   119    84    40     8
top                     NaN    43
freq                    NaN    85  2260  2270  2404
mean    2018-06-05 00:42:18   NaN   NaN   NaN   NaN
min     2014-01-01 00:00:00   NaN   NaN   NaN   NaN
25%     2016-03-14 18:00:00   NaN   NaN   NaN   NaN
50%     2018-05-27 12:00:00   NaN   NaN   NaN   NaN
75%     2020-09-04 06:00:00   NaN   NaN   NaN   NaN
max     2022-11-13 00:00:00   NaN   NaN   NaN   NaN

In [4]:
# 2.3) Import NYC Health data from Github repository

url_health = 'https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/data-by-day.csv'
download_health = requests.get(url_health).content
health = pd.read_csv(io.StringIO(download_health.decode('utf-8')), sep = ',', parse_dates= ['date_of_interest'])

# Overview
# print(health.head())
health.info()
health.describe(include = 'all', datetime_is_numeric = True) # 'datetime_is_numeric = True' is used to silence a known Python warning

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 67 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date_of_interest                 1012 non-null   datetime64[ns]
 1   CASE_COUNT                       1012 non-null   int64
 2   PROBABLE_CASE_COUNT              1012 non-null   int64
 3   HOSPITALIZED_COUNT               1012 non-null   int64
 4   DEATH_COUNT                      1012 non-null   int64
 5   PROBABLE_DEATH_COUNT             1012 non-null   int64
 6   CASE_COUNT_7DAY_AVG              1012 non-null   int64
 7   ALL_CASE_COUNT_7DAY_AVG          1012 non-null   int64
 8   HOSP_COUNT_7DAY_AVG              1012 non-null   int64
 9   DEATH_COUNT_7DAY_AVG             1012 non-null   int64
 10  ALL_DEATH_COUNT_7DAY_AVG         1012 non-null   int64
 11  BX_CASE_COUNT                    1012 non-null   int64
 12  BX_PROBABLE_CASE_COUNT           1012 non-null   int64
 13  BX_HOSPITALIZED_COUNT            1012 non-null   int64
 14  BX_DEATH_COUNT                   1012 non-null   int64
 15  BX_PROBABLE_DEATH_COUNT          1012 non-null   int64
 16  BX_CASE_COUNT_7DAY_AVG           1012 non-null   int64
 17  BX_PROBABLE_CASE_COUNT_7DAY_AVG  1012 non-null   int64
 18  BX_ALL_CASE_COUNT_7DAY_AVG       1012 non-null   int64
 19  BX_HOSPITALIZED_COUNT_7DAY_AVG   1012 non-null   int64
 20  BX_DEATH_COUNT_7DAY_AVG          1012 non-null   int64
 21  BX_ALL_DEATH_COUNT_7DAY_AVG      1012 non-null   int64
 22  BK_CASE_COUNT                    1012 non-null   int64
 23  BK_PROBABLE_CASE_COUNT           1012 non-null   int64
 24  BK_HOSPITALIZED_COUNT            1012 non-null   int64
 25  BK_DEATH_COUNT                   1012 non-null   int64
 26  BK_PROBABLE_DEATH_COUNT          1012 non-null   int64
 27  BK_CASE_COUNT_7DAY_AVG           1012 non-null   int64
 28  BK_PROBABLE_CASE_COUNT_7DAY_AVG  1012 non-null   int64
 29  BK_ALL_CASE_COUNT_7DAY_AVG       1012 non-null   int64
 30  BK_HOSPITALIZED_COUNT_7DAY_AVG   1012 non-null   int64
 31  BK_DEATH_COUNT_7DAY_AVG          1012 non-null   int64
 32  BK_ALL_DEATH_COUNT_7DAY_AVG      1012 non-null   int64
 33  MN_CASE_COUNT                    1012 non-null   int64
 34  MN_PROBABLE_CASE_COUNT           1012 non-null   int64
 35  MN_HOSPITALIZED_COUNT            1012 non-null   int64
 36  MN_DEATH_COUNT                   1012 non-null   int64
 37  MN_PROBABLE_DEATH_COUNT          1012 non-null   int64
 38  MN_CASE_COUNT_7DAY_AVG           1012 non-null   int64
 39  MN_PROBABLE_CASE_COUNT_7DAY_AVG  1012 non-null   int64
 40  MN_ALL_CASE_COUNT_7DAY_AVG       1012 non-null   int64
 41  MN_HOSPITALIZED_COUNT_7DAY_AVG   1012 non-null   int64
 42  MN_DEATH_COUNT_7DAY_AVG          1012 non-null   int64
 43  MN_ALL_DEATH_COUNT_7DAY_AVG      1012 non-null   int64
 44  QN_CASE_COUNT                    1012 non-null   int64
 45  QN_PROBABLE_CASE_COUNT           1012 non-null   int64
 46  QN_HOSPITALIZED_COUNT            1012 non-null   int64
 47  QN_DEATH_COUNT                   1012 non-null   int64
 48  QN_PROBABLE_DEATH_COUNT          1012 non-null   int64
 49  QN_CASE_COUNT_7DAY_AVG           1012 non-null   int64
 50  QN_PROBABLE_CASE_COUNT_7DAY_AVG  1012 non-null   int64
 51  QN_ALL_CASE_COUNT_7DAY_AVG       1012 non-null   int64
 52  QN_HOSPITALIZED_COUNT_7DAY_AVG   1012 non-null   int64
 53  QN_DEATH_COUNT_7DAY_AVG          1012 non-null   int64
 54  QN_ALL_DEATH_COUNT_7DAY_AVG      1012 non-null   int64
 55  SI_CASE_COUNT                    1012 non-null   int64
 56  SI_PROBABLE_CASE_COUNT           1012 non-null   int64
 57  SI_HOSPITALIZED_COUNT            1012 non-null   int64
 58  SI_DEATH_COUNT                   1012 non-null   int64
 59  SI_PROBABLE_DEATH_COUNT          1012 non-null   int64
 60  SI_CASE_COUNT_7DAY_AVG           1012 non-null   int64
 61  SI_PROBABLE_CASE_COUNT_7DAY_AVG  1012 non-null   int64
 62  SI_ALL_CASE_COUNT_7DAY_AVG       1012 non-null   int64
 63  SI_HOSPITALIZED_COUNT_7DAY_AVG   1012 non-null   int64
 64  SI_DEATH_COUNT_7DAY_AVG          1012 non-null   int64
 65  SI_ALL_DEATH_COUNT_7DAY_AVG      1012 non-null   int64
 66  INCOMPLETE                       1012 non-null   int64
dtypes: datetime64[ns](1), int64(66)
memory usage: 529.8 KB

,date_of_interest,CASE_COUNT,PROBABLE_CASE_COUNT,HOSPITALIZED_COUNT,DEATH_COUNT,PROBABLE_DEATH_COUNT,CASE_COUNT_7DAY_AVG,ALL_CASE_COUNT_7DAY_AVG,HOSP_COUNT_7DAY_AVG,DEATH_COUNT_7DAY_AVG,...,SI_HOSPITALIZED_COUNT,SI_DEATH_COUNT,SI_PROBABLE_DEATH_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_PROBABLE_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,SI_HOSPITALIZED_COUNT_7DAY_AVG,SI_DEATH_COUNT_7DAY_AVG,SI_ALL_DEATH_COUNT_7DAY_AVG,INCOMPLETE
count,1012,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,...,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000,1012.000000
mean,2021-07-18 12:00:00.000000256,2533.720356,482.027668,175.188735,36.661067,6.170949,2525.647233,3005.050395,174.916996,36.622530,...,10.563241,2.269763,0.263834,179.261858,31.312253,210.582016,10.539526,2.250988,2.526680,421.452569
min,2020-02-29 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020-11-07 18:00:00,592.500000,81.500000,46.000000,6.000000,0.000000,599.750000,727.250000,46.750000,7.000000,...,3.000000,0.000000,0.000000,39.000000,5.000000,43.000000,3.000000,1.000000,1.000000,0.000000
50%,2021-07-18 12:00:00,1499.500000,351.500000,99.000000,12.000000,1.000000,1546.000000,1920.500000,102.000000,12.000000,...,7.000000,1.000000,0.000000,113.000000,26.000000,144.000000,7.000000,1.000000,1.000000,0.000000
75%,2022-03-28 06:00:00,2816.000000,646.500000,177.500000,34.250000,2.000000,2851.750000,3589.000000,176.250000,34.000000,...,14.000000,3.000000,0.000000,206.000000,46.000000,251.250000,13.000000,3.000000,3.000000,0.000000
max,2022-12-06 00:00:00,54960.000000,5882.000000,1846.000000,598.000000,240.000000,39475.000000,43932.000000,1664.000000,566.000000,...,83.000000,34.000000,9.000000,2684.000000,233.000000,2904.000000,72.000000,26.000000,34.000000,60930.000000
std,NaN,5191.707040,647.498263,254.210687,78.927597,25.361587,4769.662402,5335.324123,249.842089,78.017497,...,12.043235,3.941380,1.000769,312.142261,33.837620,341.648859,11.523486,3.665306,4.499069,5052.396143

In [5]:
# 3) Process and merge data
# 3.1) Process data
# 3.1.1) Change datetime columns from air and health to date-format without loosing the Dtype 'datetime64[ns]
air['date'] = pd.to_datetime(air['date'])
health['date_of_interest'] = pd.to_datetime(health['date_of_interest'])

# 3.1.2) Sort air and health by their date columns
air = air.sort_values(by = 'date')
health = health.sort_values(by = 'date_of_interest')

# 3.1.3) Check the date ranges
air_date_range_min = min(air['date'].dt.strftime('%Y-%m-%d'))
air_date_range_max = max(air['date'].dt.strftime('%Y-%m-%d'))
print(f'Date range for air: {air_date_range_min}, {air_date_range_max}')
health_date_range_min = min(health['date_of_interest'].dt.strftime('%Y-%m-%d'))
health_date_range_max = max(health['date_of_interest'].dt.strftime('%Y-%m-%d'))
print(f'Date range for health: {health_date_range_min}, {health_date_range_max}')
# We can see that no date range includes the other. We therefore need an outer merge in 3.2)

Date range for air: 2014-01-01, 2022-11-13
Date range for health: 2020-02-29, 2022-12-06

In [6]:
# 3.1.4) Find missing date rows in both air and health and add the missing rows

# 3.1.4.1) air
# Find the missing date rows
air = air.set_index('date') # Set date as index
air.index = pd.to_datetime(air.index) # format to date time object
air_date_missing = pd.date_range(start = str(air_date_range_min), end = str(air_date_range_max)).difference(air.index)
print(air_date_missing) 
print("For air: " + str(air_date_missing.size) + " date rows are missing (before fix)")
# We can see that air is missing rows.

# Add the missing date rows
air_date_range = pd.date_range(str(air_date_range_min), str(air_date_range_max)) # creates perfect date range
air.index = pd.DatetimeIndex(air.index)
air = air.reindex(air_date_range)
air_date_missing = pd.date_range(start = str(air_date_range_min), end = str(air_date_range_max)).difference(air.index)
print("For air: " + str(air_date_missing.size) + " date rows are missing (after fix)")
# Missing rows have been added.

air.reset_index(inplace = True, drop = False) # needed to undo the index setting above; inplace = True means the 
# original air dataframe is targeted; drop = False retrieves the original date column.
air.rename(columns={'index': 'date'}, inplace = True) # returning to original column name, so this cell can be re-run easier


# 3.1.4.2) health
# Find the missing date rows
health = health.set_index('date_of_interest') # Set date value as index
health.index = pd.to_datetime(health.index) # format to date time object
health_date_missing = pd.date_range(start = str(health_date_range_min), end = str(health_date_range_max)).difference(health.index)
print(health_date_missing)
print("For health: " + str(health_date_missing.size) + " date rows are missing (before fix)")
# We can see that health is not missing any rows.

# Add the missing date rows
health_date_range = pd.date_range(str(health_date_range_min), str(health_date_range_max)) # creates perfect date range
health.index = pd.DatetimeIndex(health.index)
health = health.reindex(health_date_range)
health_date_missing = pd.date_range(start = str(health_date_range_min), end = str(health_date_range_max)).difference(health.index)
print("For health: " + str(health_date_missing.size) + " date rows are missing (after fix)")

health.reset_index(inplace = True, drop = False) # needed to undo the index setting above; inplace = True means the 
# original halth dataframe is targeted; drop = False retrieves the original date column.
health.rename(columns={'index': 'date_of_interest'}, inplace = True) # returning to original column name, so this cell can be re-run easier

DatetimeIndex(['2014-12-29', '2014-12-30', '2014-12-31', '2016-01-01',
               '2017-01-28', '2017-09-06', '2017-09-07', '2017-09-08',
               '2018-12-31', '2019-10-07', '2019-10-08', '2019-10-09',
               '2019-10-10', '2019-10-11', '2019-10-12', '2019-10-13',
               '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17',
               '2019-10-18', '2019-10-19', '2019-10-20', '2019-10-21',
               '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25',
               '2019-10-26', '2019-10-27', '2019-10-28', '2019-10-29',
               '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-02',
               '2019-12-30', '2019-12-31', '2020-03-30'],
              dtype='datetime64[ns]', freq=None)
For air: 39 date rows are missing (before fix)
For air: 0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')
For health: 0 date rows are missing (before fix)
For health: 0 date rows are missing (after fix)

In [7]:
# 3.2) Merge data from air and health into the final dataframe; process the data
# 3.2.1) Outer merge air and health by their date columns; change all variables of interest to Dtype 'int64'
df_merged = pd.merge(air, health, how = 'outer', left_on = 'date', right_on = 'date_of_interest')
print(df_merged.iloc[0, [0, 5]]) # to check that the merged dataframe starts from the first possible date of both air and health
print(df_merged.iloc[-1, [0, 5]]) # to check that the merged dataframe ends on the last possible date of both air and health
print(f'Date range for air: {air_date_range_min}, {air_date_range_max}')
print(f'Date range for health: {health_date_range_min}, {health_date_range_max}')
# The date range matches.

# 3.2.2) Create date_merged column which combines the entries from both date columns
df_merged['date_merged'] = df_merged['date']
df_merged['date_merged'] = df_merged.date_merged.combine_first(df_merged.date_of_interest)

# 3.2.3 Create final dataframe
set_start_date = '2020-03-03'
set_end_date = '2020-06-26'
index_start_date = df_merged.loc[df_merged.date_merged == set_start_date].index[0]
index_end_date = df_merged.loc[df_merged.date_merged == set_end_date].index[0]
df_final = df_merged.copy()
df_final = df_final.loc[index_start_date:index_end_date, ['date_merged', 'pm25', 'no2', 'DEATH_COUNT']]
df_final.head()

date                2014-01-01 00:00:00
date_of_interest                    NaT
Name: 0, dtype: object
date                                NaT
date_of_interest    2022-12-06 00:00:00
Name: 3261, dtype: object
Date range for air: 2014-01-01, 2022-11-13
Date range for health: 2020-02-29, 2022-12-06

     date_merged pm25  no2  DEATH_COUNT
2253  2020-03-03   37   10          0.0
2254  2020-03-04   20   12          0.0
2255  2020-03-05   20   19          0.0
2256  2020-03-06   23    9          0.0
2257  2020-03-07   24   12          0.0

In [8]:
# 3.3 Process final dataframe

# 3.3.1) Rename columns
df_final.rename(columns={'date_merged': 'date', 'DEATH_COUNT': 'death'}, inplace = True)

# 3.3.2) Change datatypes; for pm25 and no2 we replace empty values by NaN and use a linear interpolation to replace NaN
df_final = df_final.replace(r'^\s*$', np.nan, regex=True) 
df_final[['pm25', 'no2']] = df_final[['pm25', 'no2']].astype(float).interpolate(method = 'linear').round(0).astype(np.int64)
df_final.loc[:, 'death'] = df_final.loc[:, 'death'].astype(np.int64)

# 3.3.3) Create additional log and difference variables
df_final[['ln_pm25', 'ln_no2', 'ln_death']] = np.log(df_final[['pm25', 'no2', 'death']]) # warning: log(0) = -Inf
df_final[['d_pm25', 'd_no2', 'd_death']] = df_final[['pm25', 'no2', 'death']].diff(periods = 1, axis = 0)
df_final.replace([np.inf, -np.inf], np.nan, inplace = True) # replace Inf and -Inf by NaN

C:\Users\maxim\anaconda3\lib\site-packages\pandas\core\internals\blocks.py:402: RuntimeWarning:

divide by zero encountered in log

In [9]:
# 3.4) View the whole final dataframe
with pd.option_context('display.max_rows', None):
   print(df_final)

df_final.head()
df_final.info()

           date  pm25  no2  death   ln_pm25    ln_no2  ln_death  d_pm25  \
2253 2020-03-03    37   10      0  3.610918  2.302585       NaN     NaN
2254 2020-03-04    20   12      0  2.995732  2.484907       NaN   -17.0
2255 2020-03-05    20   19      0  2.995732  2.944439       NaN     0.0
2256 2020-03-06    23    9      0  3.135494  2.197225       NaN     3.0
2257 2020-03-07    24   12      0  3.178054  2.484907       NaN     1.0
2258 2020-03-08    27   24      0  3.295837  3.178054       NaN     3.0
2259 2020-03-09    47   21      0  3.850148  3.044522       NaN    20.0
2260 2020-03-10    43   15      0  3.761200  2.708050       NaN    -4.0
2261 2020-03-11    26   19      1  3.258097  2.944439  0.000000   -17.0
2262 2020-03-12    39   13      0  3.663562  2.564949       NaN    13.0
2263 2020-03-13    28    7      0  3.332205  1.945910       NaN   -11.0
2264 2020-03-14    28    7      2  3.332205  1.945910  0.693147     0.0
2265 2020-03-15    22   11      4  3.091042  2.397895  1.386294    -6.0
2266 2020-03-16    22   20      7  3.091042  2.995732  1.945910     0.0
2267 2020-03-17    33   14      8  3.496508  2.639057  2.079442    11.0
2268 2020-03-18    29   16     20  3.367296  2.772589  2.995732    -4.0
2269 2020-03-19    22   21     24  3.091042  3.044522  3.178054    -7.0
2270 2020-03-20    41    5     47  3.713572  1.609438  3.850148    19.0
2271 2020-03-21    22    7     44  3.091042  1.945910  3.784190   -19.0
2272 2020-03-22    29   12     49  3.367296  2.484907  3.891820     7.0
2273 2020-03-23    21   10     82  3.044522  2.302585  4.406719    -8.0
2274 2020-03-24    20    9     95  2.995732  2.197225  4.553877    -1.0
2275 2020-03-25    24   16    125  3.178054  2.772589  4.828314     4.0
2276 2020-03-26    31   16    186  3.433987  2.772589  5.225747     7.0
2277 2020-03-27    37   10    217  3.610918  2.302585  5.379897     6.0
2278 2020-03-28    26    3    272  3.258097  1.098612  5.605802   -11.0
2279 2020-03-29     7    5    290  1.945910  1.609438  5.669881   -19.0
2280 2020-03-30    11    6    323  2.397895  1.791759  5.777652     4.0
2281 2020-03-31    16    8    388  2.772589  2.079442  5.961005     5.0
2282 2020-04-01    20    6    447  2.995732  1.791759  6.102559     4.0
2283 2020-04-02    14    6    499  2.639057  1.791759  6.212606    -6.0
2284 2020-04-03    13    8    499  2.564949  2.079442  6.212606    -1.0
2285 2020-04-04    14   19    511  2.639057  2.944439  6.236370     1.0
2286 2020-04-05    41    9    578  3.713572  2.197225  6.359574    27.0
2287 2020-04-06    25   12    576  3.218876  2.484907  6.356108   -16.0
2288 2020-04-07    27   16    598  3.295837  2.772589  6.393591     2.0
2289 2020-04-08    41   12    568  3.713572  2.484907  6.342121    14.0
2290 2020-04-09    24    6    558  3.178054  1.791759  6.324359   -17.0
2291 2020-04-10    20    7    537  2.995732  1.945910  6.285998    -4.0
2292 2020-04-11    26   16    544  3.258097  2.772589  6.298949     6.0
2293 2020-04-12    39    7    573  3.663562  1.945910  6.350886    13.0
2294 2020-04-13    29    8    568  3.367296  2.079442  6.342121   -10.0
2295 2020-04-14    15    7    508  2.708050  1.945910  6.230481   -14.0
2296 2020-04-15    26    8    456  3.258097  2.079442  6.122493    11.0
2297 2020-04-16    25   12    413  3.218876  2.484907  6.023448    -1.0
2298 2020-04-17    24   10    384  3.178054  2.302585  5.950643    -1.0
2299 2020-04-18    22   12    390  3.091042  2.484907  5.966147    -2.0
2300 2020-04-19    38   13    398  3.637586  2.564949  5.986452    16.0
2301 2020-04-20    21    8    364  3.044522  2.079442  5.897154   -17.0
2302 2020-04-21    20   10    323  2.995732  2.302585  5.777652    -1.0
2303 2020-04-22    13   13    311  2.564949  2.564949  5.739793    -7.0
2304 2020-04-23    22   15    330  3.091042  2.708050  5.799093     9.0
2305 2020-04-24    20   17    314  2.995732  2.833213  5.749393    -2.0
2306 2020-04-25    33    7    265  3.496508  1.945910  5.579730    13.0
2307 2020-04-26    16    8    245  2.772589  2.079442  5.501258   -17.0
2308 2020-04-27     8   10    270  2.079442  2.302585  5.598422    -8.0
2309 2020-04-28    17   13    229  2.833213  2.564949  5.433722     9.0
2310 2020-04-29    22    8    237  3.091042  2.079442  5.468060     5.0
2311 2020-04-30    19   16    223  2.944439  2.772589  5.407172    -3.0
2312 2020-05-01    11    6    209  2.397895  1.791759  5.342334    -8.0
2313 2020-05-02    17    9    189  2.833213  2.197225  5.241747     6.0
2314 2020-05-03    35    7    178  3.555348  1.945910  5.181784    18.0
2315 2020-05-04    21    6    158  3.044522  1.791759  5.062595   -14.0
2316 2020-05-05    16   11    151  2.772589  2.397895  5.017280    -5.0
2317 2020-05-06    19    9    151  2.944439  2.197225  5.017280     3.0
2318 2020-05-07    18   11    141  2.890372  2.397895  4.948760    -1.0
2319 2020-05-08    17    5    130  2.833213  1.609438  4.867534    -1.0
2320 2020-05-09    11    6     99  2.397895  1.791759  4.595120    -6.0
2321 2020-05-10    15   10    102  2.708050  2.302585  4.624973     4.0
2322 2020-05-11    22    7    103  3.091042  1.945910  4.634729     7.0
2323 2020-05-12    14   12     91  2.639057  2.484907  4.510860    -8.0
2324 2020-05-13    24   16     83  3.178054  2.772589  4.418841    10.0
2325 2020-05-14    33   16     70  3.496508  2.772589  4.248495     9.0
2326 2020-05-15    51    6     86  3.931826  1.791759  4.454347    18.0
2327 2020-05-16    24    3     82  3.178054  1.098612  4.406719   -27.0
2328 2020-05-17     9   11     76  2.197225  2.397895  4.330733   -15.0
2329 2020-05-18    14    8     59  2.639057  2.079442  4.077537     5.0
2330 2020-05-19    17   10     55  2.833213  2.302585  4.007333     3.0
2331 2020-05-20    12   10     79  2.484907  2.302585  4.369448    -5.0
2332 2020-05-21    23   15     44  3.135494  2.708050  3.784190    11.0
2333 2020-05-22    29    6     65  3.367296  1.791759  4.174387     6.0
2334 2020-05-23    14    4     60  2.639057  1.386294  4.094345   -15.0
2335 2020-05-24    24    6     48  3.178054  1.791759  3.871201    10.0
2336 2020-05-25    23   14     47  3.135494  2.639057  3.850148    -1.0
2337 2020-05-26    35   10     36  3.555348  2.302585  3.583519    12.0
2338 2020-05-27     6    4     48  1.791759  1.386294  3.871201   -29.0
2339 2020-05-28    15    7     37  2.708050  1.945910  3.610918     9.0
2340 2020-05-29    19    6     43  2.944439  1.791759  3.761200     4.0
2341 2020-05-30    21    5     52  3.044522  1.609438  3.951244     2.0
2342 2020-05-31     9    4     39  2.197225  1.386294  3.663562   -12.0
2343 2020-06-01    11   16     34  2.397895  2.772589  3.526361     2.0
2344 2020-06-02    24    9     37  3.178054  2.197225  3.610918    13.0
2345 2020-06-03    44   13     42  3.784190  2.564949  3.737670    20.0
2346 2020-06-04    40   10     33  3.688879  2.302585  3.496508    -4.0
2347 2020-06-05    37    8     27  3.610918  2.079442  3.295837    -3.0
2348 2020-06-06    26    3     34  3.258097  1.098612  3.526361   -11.0
2349 2020-06-07    20    8     24  2.995732  2.079442  3.178054    -6.0
2350 2020-06-08    18   15     38  2.890372  2.708050  3.637586    -2.0
2351 2020-06-09    42   10     30  3.737670  2.302585  3.401197    24.0
2352 2020-06-10    45    7     32  3.806662  1.945910  3.465736     3.0
2353 2020-06-11    35   14     21  3.555348  2.639057  3.044522   -10.0
2354 2020-06-12    28    5     22  3.332205  1.609438  3.091042    -7.0
2355 2020-06-13    11    3     15  2.397895  1.098612  2.708050   -17.0
2356 2020-06-14    17   10     22  2.833213  2.302585  3.091042     6.0
2357 2020-06-15    26   14     19  3.258097  2.639057  2.944439     9.0
2358 2020-06-16    23   10     16  3.135494  2.302585  2.772589    -3.0
2359 2020-06-17    20    7     20  2.995732  1.945910  2.995732    -3.0
2360 2020-06-18    16    8     15  2.772589  2.079442  2.708050    -4.0
2361 2020-06-19    22    8     15  3.091042  2.079442  2.708050     6.0
2362 2020-06-20    42    9     16  3.737670  2.197225  2.772589    20.0
2363 2020-06-21    29   11     22  3.367296  2.397895  3.091042   -13.0
2364 2020-06-22    23   12     18  3.135494  2.484907  2.890372    -6.0
2365 2020-06-23    36   14     17  3.583519  2.639057  2.833213    13.0
2366 2020-06-24    47    9     18  3.850148  2.197225  2.890372    11.0
2367 2020-06-25    37   25     15  3.610918  3.218876  2.708050   -10.0
2368 2020-06-26    38   25     17  3.637586  3.218876  2.833213     1.0

      d_no2  d_death
2253    NaN      NaN
2254    2.0      0.0
2255    7.0      0.0
2256  -10.0      0.0
2257    3.0      0.0
2258   12.0      0.0
2259   -3.0      0.0
2260   -6.0      0.0
2261    4.0      1.0
2262   -6.0     -1.0
2263   -6.0      0.0
2264    0.0      2.0
2265    4.0      2.0
2266    9.0      3.0
2267   -6.0      1.0
2268    2.0     12.0
2269    5.0      4.0
2270  -16.0     23.0
2271    2.0     -3.0
2272    5.0      5.0
2273   -2.0     33.0
2274   -1.0     13.0
2275    7.0     30.0
2276    0.0     61.0
2277   -6.0     31.0
2278   -7.0     55.0
2279    2.0     18.0
2280    1.0     33.0
2281    2.0     65.0
2282   -2.0     59.0
2283    0.0     52.0
2284    2.0      0.0
2285   11.0     12.0
2286  -10.0     67.0
2287    3.0     -2.0
2288    4.0     22.0
2289   -4.0    -30.0
2290   -6.0    -10.0
2291    1.0    -21.0
2292    9.0      7.0
2293   -9.0     29.0
2294    1.0     -5.0
2295   -1.0    -60.0
2296    1.0    -52.0
2297    4.0    -43.0
2298   -2.0    -29.0
2299    2.0      6.0
2300    1.0      8.0
2301   -5.0    -34.0
2302    2.0    -41.0
2303    3.0    -12.0
2304    2.0     19.0
2305    2.0    -16.0
2306  -10.0    -49.0
2307    1.0    -20.0
2308    2.0     25.0
2309    3.0    -41.0
2310   -5.0      8.0
2311    8.0    -14.0
2312  -10.0    -14.0
2313    3.0    -20.0
2314   -2.0    -11.0
2315   -1.0    -20.0
2316    5.0     -7.0
2317   -2.0      0.0
2318    2.0    -10.0
2319   -6.0    -11.0
2320    1.0    -31.0
2321    4.0      3.0
2322   -3.0      1.0
2323    5.0    -12.0
2324    4.0     -8.0
2325    0.0    -13.0
2326  -10.0     16.0
2327   -3.0     -4.0
2328    8.0     -6.0
2329   -3.0    -17.0
2330    2.0     -4.0
2331    0.0     24.0
2332    5.0    -35.0
2333   -9.0     21.0
2334   -2.0     -5.0
2335    2.0    -12.0
2336    8.0     -1.0
2337   -4.0    -11.0
2338   -6.0     12.0
2339    3.0    -11.0
2340   -1.0      6.0
2341   -1.0      9.0
2342   -1.0    -13.0
2343   12.0     -5.0
2344   -7.0      3.0
2345    4.0      5.0
2346   -3.0     -9.0
2347   -2.0     -6.0
2348   -5.0      7.0
2349    5.0    -10.0
2350    7.0     14.0
2351   -5.0     -8.0
2352   -3.0      2.0
2353    7.0    -11.0
2354   -9.0      1.0
2355   -2.0     -7.0
2356    7.0      7.0
2357    4.0     -3.0
2358   -4.0     -3.0
2359   -3.0      4.0
2360    1.0     -5.0
2361    0.0      0.0
2362    1.0      1.0
2363    2.0      6.0
2364    1.0     -4.0
2365    2.0     -1.0
2366   -5.0      1.0
2367   16.0     -3.0
2368    0.0      2.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 116 entries, 2253 to 2368
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      116 non-null    datetime64[ns]
 1   pm25      116 non-null    int64
 2   no2       116 non-null    int64
 3   death     116 non-null    int64
 4   ln_pm25   116 non-null    float64
 5   ln_no2    116 non-null    float64
 6   ln_death  106 non-null    float64
 7   d_pm25    115 non-null    float64
 8   d_no2     115 non-null    float64
 9   d_death   115 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 10.0 KB

In [10]:
# 3.5) Descriptive plots
# 3.5.1) Scatterplots

In [11]:
# 3.5.2) Plotting by date