# 1) Setup
We will be using different libraries and modules which have to be (pip) installed or imported. You can find a list of both below, sorted by their first appearance in the code.
## 1.1) pip install commands

In [1]:
# Section 5.1)
!pip install Keras-Preprocessing # '!' runs pip as a shell rather than a notebook command

WARNING: Ignoring invalid distribution -aleido (c:\users\maxim\anaconda3\lib\site-packages)
ERROR: Invalid requirement: '#'
WARNING: Ignoring invalid distribution -aleido (c:\users\maxim\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -aleido (c:\users\maxim\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -aleido (c:\users\maxim\anaconda3\lib\site-packages)

## 1.2) Libraries

In [2]:
# Section 2.1) Set Folder Path
import os

# Section 2.2) Import air quality data for New York, Milan and Tokyo from data folder
import pandas as pd

# Section 2.3) Import New York health data from Github repository and do a quality check
import requests
import io

# Section 3.3) Process final dataframe
import numpy as np

# Section 4.1) Scatterplots
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import warnings

# Section 4.2) Plotting by date
import math
import plotly.express as px
import plotly.graph_objects as go

# Section 5.2) Create functions for training and testing
from tensorflow.keras import models, layers, utils, backend
import tensorflow as tf
 
# Section 5.3) Run the model training and testing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## 1.3) Shell commands

To use the *write_image()* function in section 4.2 with the 'kaleido' engine, please run the following command in the Windows Command Prompt: 
<br> pip install -U kaleido

## 1.4) Set seed
For better reproducibility, we are setting a global seed. We use *tf.keras.utils.set_random_seed()* instead of *tf.random.set_seed()* as the former affects all standard Python packages.

In [3]:
seed = 777
tf.keras.utils.set_random_seed(seed)

# 2) Import Data
## 2.1) Set Folder Path

In [4]:
PATH = '..\data'
print(os.getcwd())

C:\Users\maxim\OneDrive\Desktop\Unibo\Machine Learning Systems for Data Science_90477\Module II\Final Project\pr7-main\scripts

## 2.2) Import air quality data for New York, Milan and Tokyo from data folder

Here we import the air quality data for the three cities from our folder path. We rename the pollutants by removing a space so they work seamlessly in our code. We then get an overview of our data: In the *describe()* function we set *datetime_is_numeric = True*, so datetime data is treated as numeric rather than categorical, which also silences a Python warning.

In [5]:
# 2.2.1) For New York
ny_air_PATH = os.path.join(PATH, 'new-york-air-quality.csv')
ny_air = pd.read_csv(ny_air_PATH, parse_dates = ['date'])
ny_air.rename(columns = {' pm25': 'pm25_ny', ' o3': 'o3_ny', ' no2': 'no2_ny', ' co': 'co_ny'}, inplace = True)

# Overview
ny_air.info()
ny_air.describe(datetime_is_numeric = True)
print(ny_air.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3207 entries, 0 to 3206
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3207 non-null   datetime64[ns]
 1   pm25_ny  3207 non-null   object
 2   o3_ny    3207 non-null   object
 3   no2_ny   3207 non-null   object
 4   co_ny    3207 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 125.4+ KB
        date pm25_ny o3_ny no2_ny co_ny
0 2022-11-01      40    28     20     3
1 2022-11-02      45    23     25     3
2 2022-11-03      53    17     26     4
3 2022-11-04      47    24     10     1
4 2022-11-05      31    21      6     1

In [6]:
# 2.2.2) For Milan
ml_air_PATH = os.path.join(PATH, 'milano-senato__lombardia__italy-air-quality.csv')
ml_air = pd.read_csv(ml_air_PATH, parse_dates = ['date'])
ml_air.rename(columns = {' pm25': 'pm25_ml', ' pm10': 'pm10_ml', ' no2': 'no2_ml',\
                         ' co': 'co_ml'}, inplace = True)

# Overview
ml_air.info()
ml_air.describe()
print(ml_air.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2860 entries, 0 to 2859
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     2860 non-null   datetime64[ns]
 1   pm25_ml  2860 non-null   object
 2   pm10_ml  2860 non-null   object
 3   no2_ml   2860 non-null   object
 4   co_ml    2860 non-null   object
dtypes: datetime64[ns](1), object(4)
memory usage: 111.8+ KB
        date pm25_ml pm10_ml no2_ml co_ml
0 2022-12-01     134      34     27
1 2022-12-02      82      24     23
2 2022-12-03      76      13     20
3 2022-12-04      53      16     22
4 2022-12-05      50      36     39

C:\Users\maxim\AppData\Local\Temp\ipykernel_22752\1604748629.py:9: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  ml_air.describe()

In [7]:
# 2.2.3) For Tokyo
tk_air_PATH = os.path.join(PATH, 'hibiyakoen_-chiyoda__tokyo__japan-air-quality.csv')
tk_air = pd.read_csv(tk_air_PATH, parse_dates = ['date'])
tk_air.rename(columns = {' pm25': 'pm25_tk', ' pm10': 'pm10_tk', ' o3': 'o3_tk',\
                         ' no2': 'no2_tk', ' so2': 'so2_tk', ' co': 'co_tk'}, inplace = True)

# Overview
tk_air.info()
tk_air.describe(datetime_is_numeric = True)
print(tk_air.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3271 entries, 0 to 3270
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     3271 non-null   datetime64[ns]
 1   pm25_tk  3271 non-null   object
 2   pm10_tk  3271 non-null   object
 3   o3_tk    3271 non-null   object
 4   no2_tk   3271 non-null   object
 5   so2_tk   3271 non-null   object
 6   co_tk    3271 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 179.0+ KB
        date pm25_tk pm10_tk o3_tk no2_tk so2_tk co_tk
0 2022-12-01      25       9    19     15      1     2
1 2022-12-02      29      11           18            4
2 2022-12-03      36      14    15     16      1     4
3 2022-12-04      46       9    17     16      1     2
4 2022-12-05      29       7    14     17            3

## 2.3) Import New York health data from Github repository and do a quality check

Here we import the health data for New York from a Github repository, using the request package and the 'raw' version of the URL. The code *requests.get().content* outputs a byte object, which can be decoded using *io.StringIO*. The resulting *io.StringIO* object is accepted as input for the *pd.read_csv()* function.

In [8]:
# 2.3.1) Import New York health data from Github repository
url_ny_health = 'https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/data-by-day.csv'
download_ny_health = requests.get(url_ny_health).content # class: 'bytes'
ny_health = pd.read_csv(io.StringIO(download_ny_health.decode('utf-8')), sep = ',', parse_dates = ['date_of_interest'])
ny_health.rename(columns = {'DEATH_COUNT': 'death_ny'}, inplace = True)

# Overview
ny_health.info()
ny_health.describe(datetime_is_numeric = True)
print(ny_health.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1072 entries, 0 to 1071
Data columns (total 67 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   date_of_interest                 1072 non-null   datetime64[ns]
 1   CASE_COUNT                       1072 non-null   int64
 2   PROBABLE_CASE_COUNT              1072 non-null   int64
 3   HOSPITALIZED_COUNT               1072 non-null   int64
 4   death_ny                         1072 non-null   int64
 5   PROBABLE_DEATH_COUNT             1072 non-null   int64
 6   CASE_COUNT_7DAY_AVG              1072 non-null   int64
 7   ALL_CASE_COUNT_7DAY_AVG          1072 non-null   int64
 8   HOSP_COUNT_7DAY_AVG              1072 non-null   int64
 9   DEATH_COUNT_7DAY_AVG             1072 non-null   int64
 10  ALL_DEATH_COUNT_7DAY_AVG         1072 non-null   int64
 11  BX_CASE_COUNT                    1072 non-null   int64
 12  BX_PROBABLE_CASE_COUNT           1072 non-null   int64
 13  BX_HOSPITALIZED_COUNT            1072 non-null   int64
 14  BX_DEATH_COUNT                   1072 non-null   int64
 15  BX_PROBABLE_DEATH_COUNT          1072 non-null   int64
 16  BX_CASE_COUNT_7DAY_AVG           1072 non-null   int64
 17  BX_PROBABLE_CASE_COUNT_7DAY_AVG  1072 non-null   int64
 18  BX_ALL_CASE_COUNT_7DAY_AVG       1072 non-null   int64
 19  BX_HOSPITALIZED_COUNT_7DAY_AVG   1072 non-null   int64
 20  BX_DEATH_COUNT_7DAY_AVG          1072 non-null   int64
 21  BX_ALL_DEATH_COUNT_7DAY_AVG      1072 non-null   int64
 22  BK_CASE_COUNT                    1072 non-null   int64
 23  BK_PROBABLE_CASE_COUNT           1072 non-null   int64
 24  BK_HOSPITALIZED_COUNT            1072 non-null   int64
 25  BK_DEATH_COUNT                   1072 non-null   int64
 26  BK_PROBABLE_DEATH_COUNT          1072 non-null   int64
 27  BK_CASE_COUNT_7DAY_AVG           1072 non-null   int64
 28  BK_PROBABLE_CASE_COUNT_7DAY_AVG  1072 non-null   int64
 29  BK_ALL_CASE_COUNT_7DAY_AVG       1072 non-null   int64
 30  BK_HOSPITALIZED_COUNT_7DAY_AVG   1072 non-null   int64
 31  BK_DEATH_COUNT_7DAY_AVG          1072 non-null   int64
 32  BK_ALL_DEATH_COUNT_7DAY_AVG      1072 non-null   int64
 33  MN_CASE_COUNT                    1072 non-null   int64
 34  MN_PROBABLE_CASE_COUNT           1072 non-null   int64
 35  MN_HOSPITALIZED_COUNT            1072 non-null   int64
 36  MN_DEATH_COUNT                   1072 non-null   int64
 37  MN_PROBABLE_DEATH_COUNT          1072 non-null   int64
 38  MN_CASE_COUNT_7DAY_AVG           1072 non-null   int64
 39  MN_PROBABLE_CASE_COUNT_7DAY_AVG  1072 non-null   int64
 40  MN_ALL_CASE_COUNT_7DAY_AVG       1072 non-null   int64
 41  MN_HOSPITALIZED_COUNT_7DAY_AVG   1072 non-null   int64
 42  MN_DEATH_COUNT_7DAY_AVG          1072 non-null   int64
 43  MN_ALL_DEATH_COUNT_7DAY_AVG      1072 non-null   int64
 44  QN_CASE_COUNT                    1072 non-null   int64
 45  QN_PROBABLE_CASE_COUNT           1072 non-null   int64
 46  QN_HOSPITALIZED_COUNT            1072 non-null   int64
 47  QN_DEATH_COUNT                   1072 non-null   int64
 48  QN_PROBABLE_DEATH_COUNT          1072 non-null   int64
 49  QN_CASE_COUNT_7DAY_AVG           1072 non-null   int64
 50  QN_PROBABLE_CASE_COUNT_7DAY_AVG  1072 non-null   int64
 51  QN_ALL_CASE_COUNT_7DAY_AVG       1072 non-null   int64
 52  QN_HOSPITALIZED_COUNT_7DAY_AVG   1072 non-null   int64
 53  QN_DEATH_COUNT_7DAY_AVG          1072 non-null   int64
 54  QN_ALL_DEATH_COUNT_7DAY_AVG      1072 non-null   int64
 55  SI_CASE_COUNT                    1072 non-null   int64
 56  SI_PROBABLE_CASE_COUNT           1072 non-null   int64
 57  SI_HOSPITALIZED_COUNT            1072 non-null   int64
 58  SI_DEATH_COUNT                   1072 non-null   int64
 59  SI_PROBABLE_DEATH_COUNT          1072 non-null   int64
 60  SI_CASE_COUNT_7DAY_AVG           1072 non-null   int64
 61  SI_PROBABLE_CASE_COUNT_7DAY_AVG  1072 non-null   int64
 62  SI_ALL_CASE_COUNT_7DAY_AVG       1072 non-null   int64
 63  SI_HOSPITALIZED_COUNT_7DAY_AVG   1072 non-null   int64
 64  SI_DEATH_COUNT_7DAY_AVG          1072 non-null   int64
 65  SI_ALL_DEATH_COUNT_7DAY_AVG      1072 non-null   int64
 66  INCOMPLETE                       1072 non-null   int64
dtypes: datetime64[ns](1), int64(66)
memory usage: 561.2 KB
  date_of_interest  CASE_COUNT  PROBABLE_CASE_COUNT  HOSPITALIZED_COUNT  \
0       2020-02-29           1                    0                   1
1       2020-03-01           0                    0                   1
2       2020-03-02           0                    0                   2
3       2020-03-03           1                    0                   7
4       2020-03-04           5                    0                   2

   death_ny  PROBABLE_DEATH_COUNT  CASE_COUNT_7DAY_AVG  \
0         0                     0                    0
1         0                     0                    0
2         0                     0                    0
3         0                     0                    0
4         0                     0                    0

   ALL_CASE_COUNT_7DAY_AVG  HOSP_COUNT_7DAY_AVG  DEATH_COUNT_7DAY_AVG  ...  \
0                        0                    0                     0  ...
1                        0                    0                     0  ...
2                        0                    0                     0  ...
3                        0                    0                     0  ...
4                        0                    0                     0  ...

   SI_HOSPITALIZED_COUNT  SI_DEATH_COUNT  SI_PROBABLE_DEATH_COUNT  \
0                      0               0                        0
1                      0               0                        0
2                      0               0                        0
3                      0               0                        0
4                      0               0                        0

   SI_CASE_COUNT_7DAY_AVG  SI_PROBABLE_CASE_COUNT_7DAY_AVG  \
0                       0                                0
1                       0                                0
2                       0                                0
3                       0                                0
4                       0                                0

   SI_ALL_CASE_COUNT_7DAY_AVG  SI_HOSPITALIZED_COUNT_7DAY_AVG  \
0                           0                               0
1                           0                               0
2                           0                               0
3                           0                               0
4                           0                               0

   SI_DEATH_COUNT_7DAY_AVG  SI_ALL_DEATH_COUNT_7DAY_AVG  INCOMPLETE
0                        0                            0           0
1                        0                            0           0
2                        0                            0           0
3                        0                            0           0
4                        0                            0           0

[5 rows x 67 columns]

As we can see, the data includes separate *CASE_COUNT* variables for the districts of New York city. In the following cell, we check if the total death count is really the sum of the district death counts. We see that this is not the case on two dates. However, these two dates do not fall into our focus period, and can therefore be ignored.

In [9]:
# 2.3.2) Compare the confirmed death count of all districts with the aggregate variable (quality check)
ny_health_death_sum = pd.DataFrame({'death_ny_sum': ny_health.loc[:, ['BX_DEATH_COUNT', 'BK_DEATH_COUNT', 'MN_DEATH_COUNT',\
                                                                   'QN_DEATH_COUNT', 'SI_DEATH_COUNT']].sum(axis = 1)})
ny_health_death_total = ny_health[['date_of_interest', 'death_ny']]
ny_health_death_merged = pd.concat([ny_health_death_total, ny_health_death_sum], axis = 1)

"""We use the merged dataframe to: 
1) get a simple boolean response if there is a mismatch
2) show the exact rows where the mismatch appears"""

print(ny_health_death_merged['death_ny'].equals(ny_health_death_merged['death_ny_sum']))

"""We do not have a perfect match. However, the mismatch is negligible as it does not fall into the period (2020-03-03 - 
2020-06-26) we are focusing on:"""
ny_health_death_merged.loc[ny_health_death_merged['death_ny'] != ny_health_death_merged['death_ny_sum']]

False

    date_of_interest  death_ny  death_ny_sum
415       2021-04-19        42            41
653       2021-12-13        21            20

The quality check showed that *death_ny* can be used for our study. We now throw out all the other variables and keep only *date_of_interest* and *death_ny*.

In [10]:
ny_health = ny_health.loc[:, ['date_of_interest', 'death_ny']]

## 2.4) Import Milan health data from Github repository and derive a proxy for the death count

The Milan health data is also imported from a Github repository, using the request package and the 'raw' version of the URL. However, we have a separate CSV file for every day, and each CSV file shows data for all the provinces of Italy. The approach is to loop through every day in our focus period, create an URL by concatenation, and then extract the value under for the *Milano* row under the *totale_casi* column. This is achieved by string splitting the content of our *request.get()* output.

In [11]:
# 2.4.1) Import Milan health data from Github repository (takes around 40sec to run)

# Create a date range for concatenation (below) and initialize the case_count list and the ml_health dictionary
# Note: We start on 2nd March 2020 in order to derive the growth (= new cases) for 3rd March 2020.
date_range_strings = pd.date_range(start = '20200302', end = '20200626', freq = 'D').strftime('%Y%m%d')
case_count_list = []
ml_health = {'date': [], 'cum_case_ml': []}

# Loop through list of URLs and create a dictionary with key = 'date' and value = 'case'
for i in date_range_strings:
    
    # Create URL by string concatenation
    url_ml_health = ('https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-province/dpc-covid19-ita-province-'\
                     + i + '.csv') 
    download_ml_health = requests.get(url_ml_health).content # class: 'bytes'
    
    # Use string splits to single out the row for 'Milano' and the column 'totale_casi'
    cum_case_count = str(download_ml_health).split('Milano')[1].split(',\\n')[0].split(',')[4] 
    
    # Append the dictionary with the new key-value pair
    ml_health['date'].append(i)
    ml_health['cum_case_ml'].append(cum_case_count)
    
print(ml_health)

{'date': ['20200302', '20200303', '20200304', '20200305', '20200306', '20200307', '20200308', '20200309', '20200310', '20200311', '20200312', '20200313', '20200314', '20200315', '20200316', '20200317', '20200318', '20200319', '20200320', '20200321', '20200322', '20200323', '20200324', '20200325', '20200326', '20200327', '20200328', '20200329', '20200330', '20200331', '20200401', '20200402', '20200403', '20200404', '20200405', '20200406', '20200407', '20200408', '20200409', '20200410', '20200411', '20200412', '20200413', '20200414', '20200415', '20200416', '20200417', '20200418', '20200419', '20200420', '20200421', '20200422', '20200423', '20200424', '20200425', '20200426', '20200427', '20200428', '20200429', '20200430', '20200501', '20200502', '20200503', '20200504', '20200505', '20200506', '20200507', '20200508', '20200509', '20200510', '20200511', '20200512', '20200513', '20200514', '20200515', '20200516', '20200517', '20200518', '20200519', '20200520', '20200521', '20200522', '20200523', '20200524', '20200525', '20200526', '20200527', '20200528', '20200529', '20200530', '20200531', '20200601', '20200602', '20200603', '20200604', '20200605', '20200606', '20200607', '20200608', '20200609', '20200610', '20200611', '20200612', '20200613', '20200614', '20200615', '20200616', '20200617', '20200618', '20200619', '20200620', '20200621', '20200622', '20200623', '20200624', '20200625', '20200626'], 'cum_case_ml': ['58', '93', '145', '197', '267', '361', '406', '506', '592', '925', '1146', '1307', '1551', '1750', '1983', '2326', '2644', '3278', '3804', '4672', '5096', '5326', '5701', '6074', '6922', '7469', '7783', '8329', '8676', '8911', '9522', '10004', '10391', '10819', '11230', '11538', '11787', '12039', '12479', '12748', '13268', '13680', '14161', '14350', '14675', '14952', '15277', '15546', '15825', '16112', '16520', '17000', '17277', '17689', '17908', '18371', '18559', '18837', '19121', '19337', '19701', '19950', '20068', '20254', '20398', '20711', '20893', '21094', '21272', '21376', '21490', '21626', '21731', '21900', '21966', '22041', '22151', '22222', '22324', '22372', '22455', '22528', '22616', '22680', '22726', '22764', '22832', '22908', '22982', '23044', '23076', '23094', '23139', '23176', '23207', '23306', '23365', '23408', '23437', '23483', '23510', '23581', '23669', '23766', '23811', '23863', '23905', '23966', '24018', '24061', '24130', '24161', '24184', '24210', '24239', '24267', '24300']}

Looking at the metadata (Source: https://github.com/pcm-dpc/COVID-19/blob/master/dati-andamento-covid19-italia.md), the above 
output for 'totale_casi' only gives us the 'Total amount of positive cases', which is a cumulative sum. We therefore have to take the first difference to obtain the new cases per day. Afterwards, we multiply the number of cases by the case fatality rate (CFR) to obtain a proxy for the death count. The CFR for Milan during February-May 2020 has been calculated as 17.3%. (Source: https://epiprev.it/documenti/downloadfile.php?fileid=29bf488c8dae81773eee15a8497d89b5cdec4f84)

In [12]:
# 2.4.2) Create a proxy for the death count by multiplying the daily cases with the case fatality rate (CFR)

# 2.4.2.1) Convert the ml_health dictionary into a dataframe
ml_health = pd.DataFrame.from_dict(ml_health)

# 2.4.2.2) Take the first difference to obtain the new cases per day
ml_health['case_ml'] = ml_health['cum_case_ml'].astype(pd.Int64Dtype()).diff(periods = 1)

# 2.4.2.3) Multiply the number of cases by a CFR of 17.3%
cfr_ml = 0.173
ml_health['death_ml'] = (ml_health['case_ml'] * cfr_ml).round().astype(pd.Int64Dtype())
ml_health.head()

       date cum_case_ml  case_ml  death_ml
0  20200302          58     <NA>      <NA>
1  20200303          93       35         6
2  20200304         145       52         9
3  20200305         197       52         9
4  20200306         267       70        12

## 2.5) Import Tokyo health data from Github repository

For Tokyo, we are using again the 'raw' version of the data, which is provided by the Tokyo Metropolitan Government on Github. The data is stored in the JSON format as a dictionary with two keys, the second of which provides a list of dictionaries in its values: We use *read_json()* from pandas and change the parameters of the function to obtain a list of dictionaries, which can be converted to a dataframe using the *DataFrame()* function from pandas.

In [13]:
url_tk_health = 'https://raw.githubusercontent.com/tokyo-metropolitan-gov/covid19/development/data/deaths.json'

# The output of the following pd.json_read() command is a list of dictionaries:
tk_health = pd.read_json(url_tk_health, orient = 'index', typ = 'series')['data'] 

# Turn the list of dictionaries into a dataframe 
tk_health = pd.DataFrame(tk_health)
tk_health.rename(columns = {'count': 'death_tk'}, inplace = True)
tk_health['death_date'] = pd.to_datetime(tk_health['death_date'],  format = '%Y-%m-%d')

# Overview
tk_health.info()
tk_health.describe(datetime_is_numeric = True)
print(tk_health.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   death_date  1079 non-null   datetime64[ns]
 1   death_tk    1079 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 17.0 KB
  death_date  death_tk
0 2020-02-26         1
1 2020-02-27         0
2 2020-02-28         0
3 2020-02-29         0
4 2020-03-01         0

# 3) Process and merge data
## 3.1) Process data

In the next steps, we define and apply two functions which prepare all our dataframes, before merging them to our final dataframe.

### 3.1.1) Convert the date column and sort the data by dates; Print the date range

The function *convert_sort_date_rows()*, creates an index from the date column, converts the date column to a *datetime64[ns]* data type and sorts the data. We also obtain a print of the date range covered by our data.

In [14]:
def convert_sort_date_rows(data, date_column_name: str):
    
    # Use date_column_name to create a column index number
    date_column_index = data.columns.get_loc(date_column_name)
    
    # Convert date column to date-format without loosing the Dtype 'datetime64[ns]'
    data.iloc[:, date_column_index] = pd.to_datetime(data.iloc[:, date_column_index])
    
    # Sort by date_column_name and print the date range
    data = data.sort_values(by = date_column_name)
    date_range_min = min(data.iloc[:, date_column_index].dt.strftime('%Y-%m-%d'))
    date_range_max = max(data.iloc[:, date_column_index].dt.strftime('%Y-%m-%d'))
    print(f'Date range: {date_range_min}, {date_range_max}')
    
    return(data)

In [15]:
# 3.1.2) Apply the convert_sort_date_rows() function to air data
print("New York air quality data:")
ny_air = convert_sort_date_rows(data = ny_air, date_column_name = 'date')
print("Tokyo air quality data:")
tk_air = convert_sort_date_rows(data = tk_air, date_column_name = 'date')
print("Milan air quality data:")
ml_air = convert_sort_date_rows(data = ml_air, date_column_name = 'date')

New York air quality data:
Date range: 2014-01-01, 2022-11-20
Tokyo air quality data:
Date range: 2014-01-02, 2022-12-31
Milan air quality data:
Date range: 2014-10-05, 2022-12-28

In [16]:
# 3.1.3) Apply the convert_sort_date_rows() function to health data
print("New York health data:")
ny_health = convert_sort_date_rows(data = ny_health, date_column_name = 'date_of_interest')
print("Tokyo health data:")
tk_health = convert_sort_date_rows(data = tk_health, date_column_name = 'death_date')
print("Milan health data:")
ml_health = convert_sort_date_rows(data = ml_health, date_column_name = 'date')
# We can see that the Tokyo date range includes the other. We therefore need an outer merge in 3.2)

New York health data:
Date range: 2020-02-29, 2023-02-04
Tokyo health data:
Date range: 2020-02-26, 2023-02-08
Milan health data:
Date range: 2020-03-02, 2020-06-26

### 3.1.4) Find missing date rows in both air and health and add the missing rows

The function *add_missing_date_rows()* finds missing rows (= dates) in our data and adds them back, which means that some rows are created which show missing values on the other columns. We also get an output of the missing rows before and after the fix.

<br> 1) After using the date column to create a column index number as well as the date range minimum & maximum, we use the date column as the new index. Setting the date column as the index of the DataFrame allows us to use the Pandas time-series functionality, such as handling missing dates, reindexing the DataFrame, etc.
<br>
<br> 2) Once we turned our imperfect date range into a datetime object (*data.index*), we use it as input in the *difference()* function: The function is applied to a perfect date range between our minimum and maximum dates, and outputs those dates which cannot be found in *data.index*. We print the number of missing rows as well as the actual date rows.
<br>
<br> 3) We create a perfect date range between our minimum and maximum dates, and use that date range in *reindex()* as our replacement for the current (imperfect) date range. Afterwards we present the same print statements as before, to compare if our correction worked.
<br>
<br> 4) We reset the index, which means that an integer number is again used as the index. The column *index* is now just a pandas series and we rename it to the original name of the date column, just so that this cell can be re-run repeatedly.

In [17]:
def add_missing_date_rows(data, date_column_name):
    
    # Before dropping the date_column_name (see below): Use it to create a column index number and the date range min/max
    date_column_index = data.columns.get_loc(date_column_name)
    date_range_min = min(data.iloc[:, date_column_index].dt.strftime('%Y-%m-%d'))
    date_range_max = max(data.iloc[:, date_column_index].dt.strftime('%Y-%m-%d'))
    data = data.set_index(date_column_name, drop = True) # Set date as index; the original date_column_name is dropped here
    
    # Find missing date rows
    data.index = pd.to_datetime(data.index) # format to date time object
    date_missing_before = pd.date_range(start = str(date_range_min), end = str(date_range_max)).difference(data.index)
    print(str(date_missing_before.size) + " date rows are missing (before fix)")
    print(date_missing_before) 
    
    # Add the missing date rows
    date_range = pd.date_range(str(date_range_min), str(date_range_max)) # creates perfect date range
    data.index = pd.DatetimeIndex(data.index)
    data = data.reindex(date_range)
    date_missing_after = pd.date_range(start = str(date_range_min), end = str(date_range_max)).difference(data.index)
    print(str(date_missing_after.size) + " date rows are missing (after fix)")
    print(date_missing_after)
    
    data.reset_index(inplace = True, drop = False) # needed to undo the index setting above; inplace = True means the 
    # original air dataframe is targeted; drop = False retrieves the original date column.
    data.rename(columns={'index': date_column_name}, inplace = True) # returning to original column name, so this cell can be re-run easier
    
    return(data)

In [18]:
# 3.1.5) Apply the add_missing_date_rows() function to air data
print("New York air quality data:")
ny_air = add_missing_date_rows(data = ny_air, date_column_name = 'date')

New York air quality data:
39 date rows are missing (before fix)
DatetimeIndex(['2014-12-29', '2014-12-30', '2014-12-31', '2016-01-01',
               '2017-01-28', '2017-09-06', '2017-09-07', '2017-09-08',
               '2018-12-31', '2019-10-07', '2019-10-08', '2019-10-09',
               '2019-10-10', '2019-10-11', '2019-10-12', '2019-10-13',
               '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17',
               '2019-10-18', '2019-10-19', '2019-10-20', '2019-10-21',
               '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25',
               '2019-10-26', '2019-10-27', '2019-10-28', '2019-10-29',
               '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-02',
               '2019-12-30', '2019-12-31', '2020-03-30'],
              dtype='datetime64[ns]', freq=None)
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [19]:
print("Tokyo air quality data:")
tk_air = add_missing_date_rows(data = tk_air, date_column_name = 'date')

Tokyo air quality data:
15 date rows are missing (before fix)
DatetimeIndex(['2014-01-24', '2014-01-25', '2014-12-28', '2014-12-29',
               '2014-12-30', '2015-01-10', '2017-09-07', '2017-09-08',
               '2017-09-09', '2019-12-30', '2020-03-30', '2020-09-08',
               '2020-09-09', '2020-09-10', '2020-09-11'],
              dtype='datetime64[ns]', freq=None)
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [20]:
print("Milan air quality data:")
ml_air = add_missing_date_rows(data = ml_air, date_column_name = 'date')

Milan air quality data:
147 date rows are missing (before fix)
DatetimeIndex(['2014-12-29', '2014-12-30', '2015-12-30', '2017-03-10',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10',
               ...
               '2021-01-02', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-05-03', '2021-05-04', '2021-10-14', '2022-07-19',
               '2022-07-20', '2022-07-31'],
              dtype='datetime64[ns]', length=147, freq=None)
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [21]:
# 3.1.6) Apply the add_missing_date_rows() function to health data
print("New York health data:")
ny_health = add_missing_date_rows(data = ny_health, date_column_name = 'date_of_interest')

New York health data:
0 date rows are missing (before fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [22]:
print("Tokyo health data:")
tk_health = add_missing_date_rows(data = tk_health, date_column_name = 'death_date')

Tokyo health data:
0 date rows are missing (before fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [23]:
print("Milan health data:")
ml_health = add_missing_date_rows(data = ml_health, date_column_name = 'date')

Milan health data:
0 date rows are missing (before fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')
0 date rows are missing (after fix)
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

## 3.2) Merge data from air and health into the final dataframe; process the data

We first merge all the air quality tables together, using outer joins and the key *date*. For the health data we do the same, but we have to specify different keys depending on the table.

In [24]:
# 3.2.1) Outer merge all air data sets by their date columns
air = pd.merge(pd.merge(ny_air, tk_air, how = 'outer', on = 'date'), ml_air, how = 'outer', on = 'date')

In [25]:
# 3.2.2) Outer merge all health data sets by their date columns - the Tokyo date range includes those from New York and Milan
health = pd.merge(pd.merge(tk_health, ny_health, how = 'outer', left_on = 'death_date', right_on = 'date_of_interest'),\
                  ml_health, how = 'outer', left_on = 'death_date', right_on = 'date')

In the following, we merge air and health by their date columns (*date* and *death_date*). By creating *df_merged*, we get the columns *date_x* and *date_y*, as *date* is already available in both the air and the health table.
<br>
We then use the *combine_first()* function to create a single date column which combines the entries from both date columns. Finally, we define the exact date range and 'cut' our dataframe accordingly - creating *df_final*. We replace empty string values by *NaN*.

In [29]:
# 3.2.3) Outer merge air and health by their date columns; change all variables of interest to Dtype 'int64'
df_merged = pd.merge(air, health, how = 'outer', left_on = 'date', right_on = 'death_date')

# 3.2.4) Create date_merged column which combines the entries from both date columns
df_merged['date_merged'] = df_merged['date_x']
df_merged['date_merged'] = df_merged.date_merged.combine_first(df_merged.death_date)

# 3.2.5 Create final dataframe - choose time period
set_start_date = '2020-03-03'
set_end_date = '2020-06-26'
index_start_date = df_merged.loc[df_merged.date_merged == set_start_date].index[0]
index_end_date = df_merged.loc[df_merged.date_merged == set_end_date].index[0]
print(index_end_date)
df_final = df_merged.copy()
df_final = df_final.iloc[index_start_date:index_end_date, ]

# 3.2.6) Replace empty values by NaN 
df_final = df_final.replace(r'^\s*$', np.nan, regex = True) # we set regex = True as we are replacing a string value

2368

In [27]:
# 3.2.7) View the dataframe again  
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 2253 to 2367
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_x            115 non-null    datetime64[ns]
 1   pm25_ny           113 non-null    object
 2   o3_ny             56 non-null     object
 3   no2_ny            105 non-null    object
 4   co_ny             37 non-null     object
 5   pm25_tk           112 non-null    object
 6   pm10_tk           112 non-null    object
 7   o3_tk             113 non-null    object
 8   no2_tk            113 non-null    object
 9   so2_tk            98 non-null     object
 10  co_tk             110 non-null    object
 11  pm25_ml           111 non-null    object
 12  pm10_ml           111 non-null    object
 13  no2_ml            115 non-null    object
 14  co_ml             0 non-null      float64
 15  death_date        115 non-null    datetime64[ns]
 16  death_tk          115 non-null    float64
 17  date_of_interest  115 non-null    datetime64[ns]
 18  death_ny          115 non-null    float64
 19  date_y            115 non-null    datetime64[ns]
 20  cum_case_ml       115 non-null    object
 21  case_ml           115 non-null    Int64
 22  death_ml          115 non-null    Int64
 23  date_merged       115 non-null    datetime64[ns]
dtypes: Int64(2), datetime64[ns](5), float64(3), object(14)
memory usage: 22.7+ KB

In [28]:
with pd.option_context('display.max_rows', 500): # change number of rows if needed
   print(df_final)

         date_x pm25_ny o3_ny no2_ny co_ny pm25_tk pm10_tk o3_tk no2_tk  \
2253 2020-03-03      37   NaN     10   NaN      32      14    22     20
2254 2020-03-04      20   NaN     12   NaN      46       9    33     11
2255 2020-03-05      20   NaN     19   NaN      32      11    34     12
2256 2020-03-06      23   NaN      9   NaN      37      13    32     16
2257 2020-03-07      24   NaN     12   NaN      42      14    30      9
2258 2020-03-08      27   NaN     24   NaN      44      12    26     16
2259 2020-03-09      47   NaN     21   NaN      32      26    20     24
2260 2020-03-10      43   NaN     15   NaN      51      20    34     17
2261 2020-03-11      26   NaN     19   NaN      32      18    32     16
2262 2020-03-12      39   NaN     13   NaN      37      24    34     26
2263 2020-03-13      28   NaN      7   NaN      55      16    30     14
2264 2020-03-14      28   NaN      7   NaN      36      11    32     12
2265 2020-03-15      22   NaN     11   NaN      35       8    32     13
2266 2020-03-16      22   NaN     20   NaN      29      15    32     22
2267 2020-03-17      33   NaN     14   NaN      39      18    33     31
2268 2020-03-18      29   NaN     16   NaN      53      21    29     28
2269 2020-03-19      22   NaN     21   NaN      61       9    34     10
2270 2020-03-20      41   NaN      5   NaN      25      19    32     21
2271 2020-03-21      22   NaN      7   NaN      50      22    48     16
2272 2020-03-22      29   NaN     12   NaN      57      16    37     17
2273 2020-03-23      21   NaN     10   NaN      50       9    35     10
2274 2020-03-24      20   NaN      9   NaN      33      11    33     18
2275 2020-03-25      24   NaN     16   NaN      33      22    22     37
2276 2020-03-26      31   NaN     16   NaN      60      21    31     27
2277 2020-03-27      37   NaN     10   NaN      58      16    32     14
2278 2020-03-28      26   NaN      3   NaN      42       4    28      5
2279 2020-03-29       7   NaN    NaN   NaN      12     NaN   NaN    NaN
2280 2020-03-30     NaN   NaN    NaN   NaN     NaN     NaN   NaN    NaN
2281 2020-03-31     NaN   NaN      8   NaN     NaN      17    27     18
2282 2020-04-01      20   NaN      6   NaN      50       6    41      7
2283 2020-04-02      14   NaN      6   NaN      23      17    30     24
2284 2020-04-03      13   NaN      8   NaN      50      20    44     18
2285 2020-04-04      14   NaN     19   NaN      60      14    35      8
2286 2020-04-05      41   NaN      9   NaN      44      12    38     16
2287 2020-04-06      25   NaN     12   NaN      38      18    40     22
2288 2020-04-07      27   NaN     16   NaN      55      23    49     26
2289 2020-04-08      41   NaN     12   NaN      65      18    46     17
2290 2020-04-09      24   NaN      6   NaN      55       8    37      9
2291 2020-04-10      20   NaN      7   NaN      33      10    39     10
2292 2020-04-11      26   NaN     16   NaN      34      12    38      6
2293 2020-04-12      39   NaN      7   NaN      40       5    36     11
2294 2020-04-13      29   NaN      8   NaN      20       7    35      8
2295 2020-04-14      15    34      7   NaN      21      18    38     22
2296 2020-04-15      26    33      8     1      49      20    37     14
2297 2020-04-16      25    36     12     2      56      18    36     16
2298 2020-04-17      24    31     10     2      47      15    35     14
2299 2020-04-18      22    40     12     2      38       8    37      9
2300 2020-04-19      38    32     13     2      25       8    32     14
2301 2020-04-20      21    30      8     1      22      23    28     31
2302 2020-04-21      20    31    NaN   NaN      54      18    37     14
2303 2020-04-22      13    25    NaN   NaN      43      13    38     15
2304 2020-04-23      22    22     15     2      31      12    38     14
2305 2020-04-24      20    12     17     2      28      10    45     14
2306 2020-04-25      33   NaN      7   NaN      36      20    61      5
2307 2020-04-26      16   NaN      8   NaN      61      16    42     12
2308 2020-04-27       8   NaN     10   NaN      50      15    40     18
2309 2020-04-28      17   NaN     13   NaN      48      19    45     18
2310 2020-04-29      22   NaN      8   NaN      55      28    64     24
2311 2020-04-30      19    33     16     2      71      26    44     13
2312 2020-05-01      11    34      6     1      68      43    43     22
2313 2020-05-02      17    43      9     2     102      31    36     11
2314 2020-05-03      35    36      7     1      81      15    33     13
2315 2020-05-04      21    37      6     1      46      12    45      7
2316 2020-05-05      16    32     11     1      38      12    31      6
2317 2020-05-06      19    37      9     2      29      10    40      8
2318 2020-05-07      18   NaN     11   NaN      19      15    40     15
2319 2020-05-08      17   NaN      5   NaN      44      13    36      8
2320 2020-05-09      11    39      6     1      37      10    33      5
2321 2020-05-10      15    29     10     1      29      16    36     15
2322 2020-05-11      22    37      7     1      40      20    49     17
2323 2020-05-12      14    33     12     1      50      29    53     16
2324 2020-05-13      24    40     16     3      68      18    43     20
2325 2020-05-14      33    46     16     2      48      21    39     24
2326 2020-05-15      51    38      6     1      53      16    32     16
2327 2020-05-16      24    38      3     1      39      17    51     13
2328 2020-05-17       9    38     11   NaN      45      19    30     16
2329 2020-05-18      14    34      8   NaN      51     NaN    31     14
2330 2020-05-19      17    34     10   NaN     NaN      13    21     10
2331 2020-05-20      12    30     10   NaN      28      13    22     12
2332 2020-05-21      23    31     15   NaN      31      12    23     12
2333 2020-05-22      29    31      6   NaN      30      14    34     18
2334 2020-05-23      14    31      4   NaN      32      11    45     12
2335 2020-05-24      24    27      6   NaN      28      15    35     21
2336 2020-05-25      23    23     14   NaN      36      23    27     28
2337 2020-05-26      35   NaN     10   NaN      51      22    53     19
2338 2020-05-27       6   NaN      4   NaN      53      15    48     16
2339 2020-05-28      15   NaN      7   NaN      47      15    43     18
2340 2020-05-29      19   NaN    NaN   NaN      41      19    41     18
2341 2020-05-30      21   NaN    NaN   NaN      49      15    33     14
2342 2020-05-31       9    33      4   NaN      39      19    29     19
2343 2020-06-01      11    42     16   NaN      41      22    26     23
2344 2020-06-02      24    44      9   NaN      47      27    48     23
2345 2020-06-03      44    53     13   NaN      55      45    60     21
2346 2020-06-04      40    38     10   NaN      83      35    45     27
2347 2020-06-05      37    50      8   NaN      68      37    52     16
2348 2020-06-06      26    31      3   NaN      69      22    41      7
2349 2020-06-07      20    34      8     1      51      25    45     20
2350 2020-06-08      18    61     15     2      51      26    33     21
2351 2020-06-09      42    41     10     1      56      13    32     10
2352 2020-06-10      45    26      7     1      31      14    15      8
2353 2020-06-11      35    46     14     2      19      18    19     13
2354 2020-06-12      28    36      5     1      26      15    25     14
2355 2020-06-13      11    30      3     1      22      26    26     15
2356 2020-06-14      17    31     10     1      50      32    44     27
2357 2020-06-15      26    32     14     1      50      29    42     24
2358 2020-06-16      23    30     10     1      55      19    44     16
2359 2020-06-17      20    10      7     1      42      23    35     17
2360 2020-06-18      16   NaN    NaN   NaN      43      13    36     16
2361 2020-06-19      22   NaN    NaN   NaN      27      17    46     20
2362 2020-06-20      42   NaN      9   NaN      35      16    30     10
2363 2020-06-21      29   NaN    NaN   NaN      32      15    26     11
2364 2020-06-22      23   NaN    NaN   NaN      35      17    33     20
2365 2020-06-23      36    37     14     1      30      21    23     15
2366 2020-06-24      47    52      9     1      40      15    17     15
2367 2020-06-25      37    44     25     1      30      37    52     24

     so2_tk  ... co_ml death_date death_tk date_of_interest  death_ny  \
2253      1  ...   NaN 2020-03-03      0.0       2020-03-03       0.0
2254    NaN  ...   NaN 2020-03-04      0.0       2020-03-04       0.0
2255      1  ...   NaN 2020-03-05      0.0       2020-03-05       0.0
2256      1  ...   NaN 2020-03-06      0.0       2020-03-06       0.0
2257    NaN  ...   NaN 2020-03-07      0.0       2020-03-07       0.0
2258      1  ...   NaN 2020-03-08      0.0       2020-03-08       0.0
2259      1  ...   NaN 2020-03-09      1.0       2020-03-09       0.0
2260      1  ...   NaN 2020-03-10      0.0       2020-03-10       0.0
2261      1  ...   NaN 2020-03-11      0.0       2020-03-11       1.0
2262      1  ...   NaN 2020-03-12      1.0       2020-03-12       0.0
2263    NaN  ...   NaN 2020-03-13      0.0       2020-03-13       0.0
2264      1  ...   NaN 2020-03-14      0.0       2020-03-14       2.0
2265      1  ...   NaN 2020-03-15      0.0       2020-03-15       4.0
2266      1  ...   NaN 2020-03-16      0.0       2020-03-16       7.0
2267      1  ...   NaN 2020-03-17      0.0       2020-03-17       8.0
2268      1  ...   NaN 2020-03-18      0.0       2020-03-18      20.0
2269      1  ...   NaN 2020-03-19      1.0       2020-03-19      24.0
2270      1  ...   NaN 2020-03-20      0.0       2020-03-20      47.0
2271      1  ...   NaN 2020-03-21      1.0       2020-03-21      44.0
2272      1  ...   NaN 2020-03-22      0.0       2020-03-22      49.0
2273      1  ...   NaN 2020-03-23      0.0       2020-03-23      82.0
2274      1  ...   NaN 2020-03-24      1.0       2020-03-24      95.0
2275      3  ...   NaN 2020-03-25      0.0       2020-03-25     125.0
2276      1  ...   NaN 2020-03-26      0.0       2020-03-26     186.0
2277    NaN  ...   NaN 2020-03-27      2.0       2020-03-27     216.0
2278    NaN  ...   NaN 2020-03-28      2.0       2020-03-28     272.0
2279    NaN  ...   NaN 2020-03-29      5.0       2020-03-29     290.0
2280    NaN  ...   NaN 2020-03-30      2.0       2020-03-30     323.0
2281    NaN  ...   NaN 2020-03-31      1.0       2020-03-31     388.0
2282      1  ...   NaN 2020-04-01      2.0       2020-04-01     447.0
2283      1  ...   NaN 2020-04-02      2.0       2020-04-02     499.0
2284      1  ...   NaN 2020-04-03      4.0       2020-04-03     499.0
2285    NaN  ...   NaN 2020-04-04      6.0       2020-04-04     511.0
2286      1  ...   NaN 2020-04-05      2.0       2020-04-05     578.0
2287      2  ...   NaN 2020-04-06      1.0       2020-04-06     576.0
2288      1  ...   NaN 2020-04-07      3.0       2020-04-07     598.0
2289      1  ...   NaN 2020-04-08      4.0       2020-04-08     568.0
2290    NaN  ...   NaN 2020-04-09      5.0       2020-04-09     558.0
2291      1  ...   NaN 2020-04-10      5.0       2020-04-10     537.0
2292      1  ...   NaN 2020-04-11      7.0       2020-04-11     544.0
2293    NaN  ...   NaN 2020-04-12     11.0       2020-04-12     573.0
2294      1  ...   NaN 2020-04-13      3.0       2020-04-13     568.0
2295      2  ...   NaN 2020-04-14      4.0       2020-04-14     508.0
2296      1  ...   NaN 2020-04-15      7.0       2020-04-15     456.0
2297      2  ...   NaN 2020-04-16     11.0       2020-04-16     413.0
2298      1  ...   NaN 2020-04-17      7.0       2020-04-17     384.0
2299      1  ...   NaN 2020-04-18      7.0       2020-04-18     390.0
2300      1  ...   NaN 2020-04-19      8.0       2020-04-19     398.0
2301      1  ...   NaN 2020-04-20      9.0       2020-04-20     364.0
2302      1  ...   NaN 2020-04-21      6.0       2020-04-21     323.0
2303      1  ...   NaN 2020-04-22      5.0       2020-04-22     311.0
2304      1  ...   NaN 2020-04-23     12.0       2020-04-23     330.0
2305      1  ...   NaN 2020-04-24      6.0       2020-04-24     314.0
2306      1  ...   NaN 2020-04-25      6.0       2020-04-25     265.0
2307    NaN  ...   NaN 2020-04-26      8.0       2020-04-26     245.0
2308      1  ...   NaN 2020-04-27      5.0       2020-04-27     270.0
2309      2  ...   NaN 2020-04-28     10.0       2020-04-28     229.0
2310      1  ...   NaN 2020-04-29      7.0       2020-04-29     237.0
2311      1  ...   NaN 2020-04-30      8.0       2020-04-30     223.0
2312      4  ...   NaN 2020-05-01      6.0       2020-05-01     209.0
2313      1  ...   NaN 2020-05-02      9.0       2020-05-02     189.0
2314      1  ...   NaN 2020-05-03      8.0       2020-05-03     177.0
2315      1  ...   NaN 2020-05-04      9.0       2020-05-04     158.0
2316    NaN  ...   NaN 2020-05-05      6.0       2020-05-05     151.0
2317    NaN  ...   NaN 2020-05-06      4.0       2020-05-06     151.0
2318      1  ...   NaN 2020-05-07      8.0       2020-05-07     141.0
2319      1  ...   NaN 2020-05-08      9.0       2020-05-08     130.0
2320      1  ...   NaN 2020-05-09      2.0       2020-05-09      99.0
2321      1  ...   NaN 2020-05-10      3.0       2020-05-10     102.0
2322      1  ...   NaN 2020-05-11      2.0       2020-05-11     103.0
2323      2  ...   NaN 2020-05-12      8.0       2020-05-12      91.0
2324      2  ...   NaN 2020-05-13      4.0       2020-05-13      83.0
2325      1  ...   NaN 2020-05-14      1.0       2020-05-14      70.0
2326      1  ...   NaN 2020-05-15      3.0       2020-05-15      86.0
2327      2  ...   NaN 2020-05-16      4.0       2020-05-16      82.0
2328      1  ...   NaN 2020-05-17      3.0       2020-05-17      76.0
2329    NaN  ...   NaN 2020-05-18      4.0       2020-05-18      59.0
2330      1  ...   NaN 2020-05-19      2.0       2020-05-19      55.0
2331    NaN  ...   NaN 2020-05-20      0.0       2020-05-20      79.0
2332      1  ...   NaN 2020-05-21      1.0       2020-05-21      44.0
2333      1  ...   NaN 2020-05-22      3.0       2020-05-22      65.0
2334      1  ...   NaN 2020-05-23      0.0       2020-05-23      60.0
2335      1  ...   NaN 2020-05-24      0.0       2020-05-24      48.0
2336      1  ...   NaN 2020-05-25      2.0       2020-05-25      47.0
2337      1  ...   NaN 2020-05-26      3.0       2020-05-26      36.0
2338      1  ...   NaN 2020-05-27      2.0       2020-05-27      48.0
2339      1  ...   NaN 2020-05-28      0.0       2020-05-28      37.0
2340      1  ...   NaN 2020-05-29      0.0       2020-05-29      43.0
2341      1  ...   NaN 2020-05-30      1.0       2020-05-30      52.0
2342      1  ...   NaN 2020-05-31      0.0       2020-05-31      39.0
2343      1  ...   NaN 2020-06-01      1.0       2020-06-01      33.0
2344      1  ...   NaN 2020-06-02      0.0       2020-06-02      37.0
2345      3  ...   NaN 2020-06-03      4.0       2020-06-03      42.0
2346      3  ...   NaN 2020-06-04      0.0       2020-06-04      33.0
2347      1  ...   NaN 2020-06-05      0.0       2020-06-05      27.0
2348      1  ...   NaN 2020-06-06      0.0       2020-06-06      34.0
2349      1  ...   NaN 2020-06-07      0.0       2020-06-07      24.0
2350      1  ...   NaN 2020-06-08      0.0       2020-06-08      38.0
2351      1  ...   NaN 2020-06-09      4.0       2020-06-09      30.0
2352      1  ...   NaN 2020-06-10      0.0       2020-06-10      32.0
2353      1  ...   NaN 2020-06-11      1.0       2020-06-11      21.0
2354      1  ...   NaN 2020-06-12      0.0       2020-06-12      22.0
2355      1  ...   NaN 2020-06-13      0.0       2020-06-13      15.0
2356      1  ...   NaN 2020-06-14      0.0       2020-06-14      22.0
2357      1  ...   NaN 2020-06-15      2.0       2020-06-15      19.0
2358      1  ...   NaN 2020-06-16      0.0       2020-06-16      16.0
2359      1  ...   NaN 2020-06-17      3.0       2020-06-17      20.0
2360      1  ...   NaN 2020-06-18      1.0       2020-06-18      15.0
2361      1  ...   NaN 2020-06-19      0.0       2020-06-19      15.0
2362      1  ...   NaN 2020-06-20      1.0       2020-06-20      16.0
2363      1  ...   NaN 2020-06-21      2.0       2020-06-21      22.0
2364      1  ...   NaN 2020-06-22      0.0       2020-06-22      18.0
2365    NaN  ...   NaN 2020-06-23      0.0       2020-06-23      17.0
2366      1  ...   NaN 2020-06-24      0.0       2020-06-24      18.0
2367      1  ...   NaN 2020-06-25      0.0       2020-06-25      15.0

         date_y  cum_case_ml case_ml  death_ml date_merged
2253 2020-03-03           93      35         6  2020-03-03
2254 2020-03-04          145      52         9  2020-03-04
2255 2020-03-05          197      52         9  2020-03-05
2256 2020-03-06          267      70        12  2020-03-06
2257 2020-03-07          361      94        16  2020-03-07
2258 2020-03-08          406      45         8  2020-03-08
2259 2020-03-09          506     100        17  2020-03-09
2260 2020-03-10          592      86        15  2020-03-10
2261 2020-03-11          925     333        58  2020-03-11
2262 2020-03-12         1146     221        38  2020-03-12
2263 2020-03-13         1307     161        28  2020-03-13
2264 2020-03-14         1551     244        42  2020-03-14
2265 2020-03-15         1750     199        34  2020-03-15
2266 2020-03-16         1983     233        40  2020-03-16
2267 2020-03-17         2326     343        59  2020-03-17
2268 2020-03-18         2644     318        55  2020-03-18
2269 2020-03-19         3278     634       110  2020-03-19
2270 2020-03-20         3804     526        91  2020-03-20
2271 2020-03-21         4672     868       150  2020-03-21
2272 2020-03-22         5096     424        73  2020-03-22
2273 2020-03-23         5326     230        40  2020-03-23
2274 2020-03-24         5701     375        65  2020-03-24
2275 2020-03-25         6074     373        65  2020-03-25
2276 2020-03-26         6922     848       147  2020-03-26
2277 2020-03-27         7469     547        95  2020-03-27
2278 2020-03-28         7783     314        54  2020-03-28
2279 2020-03-29         8329     546        94  2020-03-29
2280 2020-03-30         8676     347        60  2020-03-30
2281 2020-03-31         8911     235        41  2020-03-31
2282 2020-04-01         9522     611       106  2020-04-01
2283 2020-04-02        10004     482        83  2020-04-02
2284 2020-04-03        10391     387        67  2020-04-03
2285 2020-04-04        10819     428        74  2020-04-04
2286 2020-04-05        11230     411        71  2020-04-05
2287 2020-04-06        11538     308        53  2020-04-06
2288 2020-04-07        11787     249        43  2020-04-07
2289 2020-04-08        12039     252        44  2020-04-08
2290 2020-04-09        12479     440        76  2020-04-09
2291 2020-04-10        12748     269        47  2020-04-10
2292 2020-04-11        13268     520        90  2020-04-11
2293 2020-04-12        13680     412        71  2020-04-12
2294 2020-04-13        14161     481        83  2020-04-13
2295 2020-04-14        14350     189        33  2020-04-14
2296 2020-04-15        14675     325        56  2020-04-15
2297 2020-04-16        14952     277        48  2020-04-16
2298 2020-04-17        15277     325        56  2020-04-17
2299 2020-04-18        15546     269        47  2020-04-18
2300 2020-04-19        15825     279        48  2020-04-19
2301 2020-04-20        16112     287        50  2020-04-20
2302 2020-04-21        16520     408        71  2020-04-21
2303 2020-04-22        17000     480        83  2020-04-22
2304 2020-04-23        17277     277        48  2020-04-23
2305 2020-04-24        17689     412        71  2020-04-24
2306 2020-04-25        17908     219        38  2020-04-25
2307 2020-04-26        18371     463        80  2020-04-26
2308 2020-04-27        18559     188        33  2020-04-27
2309 2020-04-28        18837     278        48  2020-04-28
2310 2020-04-29        19121     284        49  2020-04-29

We can see that co_ml, co_ny and o3_ny are showing a lot of missing values. We keep o3_ny as it contains around 50% of 
the rows, but co_ml and co_ny will be excluded from here onwards.

In [ ]:
# 3.2.8) Exclude co_ml and co_ny from the final dataframe
df_final = df_final.loc[:, ['date_merged', 'pm25_ny', 'o3_ny', 'no2_ny', 'pm25_tk', 'pm10_tk', 'o3_tk', 'no2_tk', 'so2_tk',\
                           'co_tk', 'pm25_ml', 'pm10_ml', 'no2_ml', 'death_ny', 'death_tk', 'death_ml']]
df_final.head()

## 3.3) Process final dataframe

In [ ]:
# 3.3.1) Rename columns
df_final.rename(columns = {'date_merged': 'date'}, inplace = True)

# 3.3.2) Replace empty values by NaN
df_final = df_final.replace(r'^\s*$', np.nan, regex = True) 

# 3.3.3) Change all variables (except for the date column) to Dtype 'Int64Dtype' - it allows better handling of NaN values
df_final = df_final.astype({'pm25_ny': pd.Int64Dtype(), 'o3_ny': pd.Int64Dtype(), 'no2_ny': pd.Int64Dtype(),\
                        'pm25_tk': pd.Int64Dtype(), 'pm10_tk': pd.Int64Dtype(), 'o3_tk': pd.Int64Dtype(), 'no2_tk': pd.Int64Dtype(), 'so2_tk': pd.Int64Dtype(), 'co_tk': pd.Int64Dtype(),\
                        'pm25_ml': pd.Int64Dtype(), 'pm10_ml': pd.Int64Dtype(), 'no2_ml': pd.Int64Dtype(),\
                        'death_ny': pd.Int64Dtype(), 'death_tk': pd.Int64Dtype(), 'death_ml': pd.Int64Dtype()})

# 3.3.4) Create interpolated versions of our raw variables (linear interpolation to replace NaN values)
# Note: o3_ny cannot be interpolated as it starts with NaN values
df_final[['pm25_ny_ip', 'no2_ny_ip',\
          'pm25_tk_ip', 'pm10_tk_ip', 'o3_tk_ip', 'no2_tk_ip', 'so2_tk_ip', 'co_tk_ip',\
          'pm25_ml_ip', 'pm10_ml_ip', 'no2_ml_ip',\
          'death_ny_ip', 'death_tk_ip', 'death_ml_ip']] = df_final[['pm25_ny', 'no2_ny',\
                                        'pm25_tk', 'pm10_tk', 'o3_tk', 'no2_tk', 'so2_tk', 'co_tk',\
                                        'pm25_ml', 'pm10_ml', 'no2_ml',\
                                        'death_ny', 'death_tk', 'death_ml']].astype(float).interpolate(method = 'linear').round(0).astype(pd.Int64Dtype())

In [ ]:
# 3.3.5) Create additional log and difference variables - based on both raw and interpolated data

# 3.3.5.1) For the raw variables (with NAs)
df_final[['ln_pm25_ny', 'ln_o3_ny', 'ln_no2_ny',\
            'ln_pm25_tk', 'ln_pm10_tk', 'ln_o3_tk', 'ln_no2_tk', 'ln_so2_tk', 'ln_co_tk',\
            'ln_pm25_ml', 'ln_pm10_ml', 'ln_no2_ml',\
            'ln_death_ny', 'ln_death_tk', 'ln_death_ml']] = np.log(df_final[['pm25_ny', 'o3_ny', 'no2_ny',\
                                                'pm25_tk', 'pm10_tk', 'o3_tk', 'no2_tk', 'so2_tk', 'co_tk',\
                                                'pm25_ml', 'pm10_ml', 'no2_ml',\
                                                'death_ny', 'death_tk', 'death_ml']].astype(float)) # warning: log(0) = -Inf
df_final[['d_pm25_ny', 'd_o3_ny', 'd_no2_ny',\
            'd_pm25_tk', 'd_pm10_tk', 'd_o3_tk', 'd_no2_tk', 'd_so2_tk', 'd_co_tk',\
            'd_pm25_ml', 'd_pm10_ml', 'd_no2_ml',\
            'd_death_ny', 'd_death_tk', 'd_death_ml']] = df_final[['pm25_ny', 'o3_ny', 'no2_ny',\
                                                'pm25_tk', 'pm10_tk', 'o3_tk', 'no2_tk', 'so2_tk', 'co_tk',\
                                                'pm25_ml', 'pm10_ml', 'no2_ml',\
                                                'death_ny', 'death_tk', 'death_ml']].astype(pd.Int64Dtype()).diff(periods = 1, axis = 0)

# 3.3.5.2) For all available interpolated variables; 
# Note: Interpolation is not available for o3_ny - see 3.3.4)
df_final[['ln_pm25_ny_ip', 'ln_no2_ny_ip',\
            'ln_pm25_tk_ip', 'ln_pm10_tk_ip', 'ln_o3_tk_ip', 'ln_no2_tk_ip', 'ln_so2_tk_ip', 'ln_co_tk_ip',\
            'ln_pm25_ml_ip', 'ln_pm10_ml_ip', 'ln_no2_ml_ip',\
            'ln_death_ny_ip', 'ln_death_tk_ip', 'ln_death_ml_ip']] = np.log(df_final[['pm25_ny_ip', 'no2_ny_ip',\
                                                'pm25_tk_ip', 'pm10_tk_ip', 'o3_tk_ip', 'no2_tk_ip', 'so2_tk_ip', 'co_tk_ip',\
                                                'pm25_ml_ip', 'pm10_ml_ip', 'no2_ml_ip',\
                                                'death_ny_ip', 'death_tk_ip', 'death_ml_ip']]).astype(float) # warning: log(0) = -Inf
df_final[['d_pm25_ny_ip', 'd_no2_ny_ip',\
            'd_pm25_tk_ip', 'd_pm10_tk_ip', 'd_o3_tk_ip', 'd_no2_tk_ip', 'd_so2_tk_ip', 'd_co_tk_ip',\
            'd_pm25_ml_ip', 'd_pm10_ml_ip', 'd_no2_ml_ip',\
            'd_death_ny_ip', 'd_death_tk_ip', 'd_death_ml_ip']] = df_final[['pm25_ny_ip', 'no2_ny_ip',\
                                            'pm25_tk_ip', 'pm10_tk_ip', 'o3_tk_ip', 'no2_tk_ip', 'so2_tk_ip', 'co_tk_ip',\
                                            'pm25_ml_ip', 'pm10_ml_ip', 'no2_ml_ip',\
                                            'death_ny_ip', 'death_tk_ip', 'death_ml_ip']].astype(pd.Int64Dtype()).diff(periods = 1, axis = 0)

# 3.3.5.3) Replace Inf and -Inf by NaN
df_final.replace([np.inf, -np.inf], np.nan, inplace = True) # replace Inf and -Inf by NaN

## 3.4) View the whole final dataframe

In [ ]:
df_final.info()

In [ ]:
# Display all columns for the remainder of the script
pd.set_option('display.max_columns', 100)

In [ ]:
with pd.option_context('display.max_rows', 10): # change number of rows if needed
   print(df_final)

# 4) Descriptive plots
## 4.1) Scatterplots

In [ ]:
# 4.1.1) Create a function for scatterplots (with regression line) that allows us to control the range of the x- and y-variable

def scatterplot(df, x_column, y_column, xlim_min = None, xlim_max = None, ylim_min = 1, ylim_max = 590):
        
    # Create temporary dataframe that removes NAs
    df_temp = df.loc[:, [x_column, y_column]].dropna()
    
    # Define xlim_min and xlim_max in case they are not provided
    if xlim_min == None:
        xlim_min = min(df_temp.loc[:, x_column])
    if xlim_max == None:
        xlim_max = max(df_temp.loc[:, x_column])
    
    # Exclude values outside of the limits - this is not needed for the plot, but for the linear regression
    df_temp = df_temp[(df_temp[x_column] >= xlim_min) & (df_temp[x_column] <= xlim_max)\
                      & (df_temp[y_column] >= ylim_min) & (df_temp[y_column] <= ylim_max)]
    
    # Define x and y indices
    x_index = df_temp.columns.get_loc(x_column)
    y_index = df_temp.columns.get_loc(y_column)
    
    # Create scatter plot
    plot = df_temp.plot.scatter(x =  x_column, y =  y_column)
   
    # Create linear regression
    X = df_temp.iloc[:, x_index].values.reshape(-1, 1)
    Y = df_temp.iloc[:, y_index].values.reshape(-1, 1)
    linear_regressor = LinearRegression()
    linear_regressor.fit(X, Y)  # perform linear regression
    Y_pred = linear_regressor.predict(X)  # make predictions
    plt.plot(X, Y_pred, color = 'red')
     
    # Add title and axis names
    plt.title(f"Scatterplot:\n {x_column}  vs  {y_column}")
    plt.xlabel(x_column)
    plt.ylabel(y_column)
    plt.ylim(ylim_min, ylim_max)
    plt.xlim(xlim_min, xlim_max)
    
    # Save the plot into the \figures directory
    plt.savefig(f"..\\figures\_411_scatter {x_column} vs {y_column}.jpg", dpi = 300, bbox_inches = 'tight')
    
    return(plot)

In [ ]:
# 4.1.2) The linear regression in the scatterplot function above shows the following warning when applied to our data:

# 'Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24
# and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.'

# For a better presentation of the plots we are setting off these warnings:
warnings.filterwarnings('ignore')

### 4.1.3) New York

In [ ]:
# 4.1.3.1) Deaths vs PM2.5
scatterplot(df_final, 'pm25_ny', 'death_ny', xlim_min = 20, xlim_max = 78)
# scatterplot(df_final, 'pm25_ny', 'death_ny')
# scatterplot(df_final, 'pm25_ny_ip', 'death_ny_ip', xlim_min = 20, xlim_max = 78)
# scatterplot(df_final, 'pm25_ny_ip', 'death_ny_ip')

# 4.1.3.2) Deaths vs NO2
scatterplot(df_final, 'no2_ny', 'death_ny', xlim_min = 8, xlim_max = 43)
# scatterplot(df_final, 'no2_ny', 'death_ny')
# scatterplot(df_final, 'no2_ny_ip', 'death_ny_ip', xlim_min = 8, xlim_max = 43)
# scatterplot(df_final, 'no2_ny_ip', 'death_ny_ip')

# 4.1.3.3) Deaths vs lnPM2.5
scatterplot(df_final, 'ln_pm25_ny', 'death_ny', xlim_min = 3, xlim_max = 4.36)
# scatterplot(df_final, 'ln_pm25_ny', 'death_ny')
# scatterplot(df_final, 'ln_pm25_ny_ip', 'death_ny_ip', xlim_min = 3, xlim_max = 4.36)
# scatterplot(df_final, 'ln_pm25_ny_ip', 'death_ny_ip')

# 4.1.3.4) Deaths vs lnNO2
scatterplot(df_final, 'ln_no2_ny', 'death_ny', xlim_min = 2.08, xlim_max = 3.76)
# scatterplot(df_final, 'ln_no2_ny', 'death_ny')
# scatterplot(df_final, 'ln_no2_ny_ip', 'death_ny_ip', xlim_min = 2.08, xlim_max = 3.76)
# scatterplot(df_final, 'ln_no2_ny_ip', 'death_ny_ip')

# 4.1.3.5) Deaths vs dPM2.5
scatterplot(df_final, 'd_pm25_ny', 'death_ny', xlim_min = -1, xlim_max = 0.78)
# scatterplot(df_final, 'd_pm25_ny', 'death_ny')
# scatterplot(df_final, 'd_pm25_ny_ip', 'death_ny_ip', xlim_min = -1, xlim_max = 0.78)
# scatterplot(df_final, 'd_pm25_ny_ip', 'death_ny_ip')

# 4.1.3.6) Deaths vs dNO2
scatterplot(df_final, 'd_no2_ny', 'death_ny', xlim_min = -1, xlim_max = 1.75)
# scatterplot(df_final, 'd_no2_ny', 'death_ny')
# scatterplot(df_final, 'd_no2_ny_ip', 'death_ny_ip', xlim_min = -1, xlim_max = 1.75)
# scatterplot(df_final, 'd_no2_ny_ip', 'death_ny_ip')

### 4.1.4) Milan

In [ ]:
# 4.1.4.1) Deaths vs PM2.5
# scatterplot(df_final, 'pm25_ml', 'death_ml', xlim_min = 20, xlim_max = 78)
scatterplot(df_final, 'pm25_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'pm25_ml_ip', 'death_ml_ip', xlim_min = 20, xlim_max = 78)
# scatterplot(df_final, 'pm25_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

# 4.1.4.2) Deaths vs NO2
# scatterplot(df_final, 'no2_ml', 'death_ml', xlim_min = 8, xlim_max = 43)
scatterplot(df_final, 'no2_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'no2_ml_ip', 'death_ml_ip', xlim_min = 8, xlim_max = 43)
# scatterplot(df_final, 'no2_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

# 4.1.4.3) Deaths vs lnPM2.5
# scatterplot(df_final, 'ln_pm25_ml', 'death_ml', xlim_min = 3, xlim_max = 4.36)
scatterplot(df_final, 'ln_pm25_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'ln_pm25_ml_ip', 'death_ml_ip', xlim_min = 3, xlim_max = 4.36)
# scatterplot(df_final, 'ln_pm25_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

# 4.1.4.4) Deaths vs lnNO2
# scatterplot(df_final, 'ln_no2_ml', 'death_ml', xlim_min = 2.08, xlim_max = 3.76)
scatterplot(df_final, 'ln_no2_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'ln_no2_ml_ip', 'death_ml_ip', xlim_min = 2.08, xlim_max = 3.76)
# scatterplot(df_final, 'ln_no2_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

# 4.1.4.5) Deaths vs dPM2.5
# scatterplot(df_final, 'd_pm25_ml', 'death_ml', xlim_min = -1, xlim_max = 0.78)
scatterplot(df_final, 'd_pm25_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'd_pm25_ml_ip', 'death_ml_ip', xlim_min = -1, xlim_max = 0.78)
# scatterplot(df_final, 'd_pm25_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

# 4.1.4.6) Deaths vs dNO2
# scatterplot(df_final, 'd_no2_ml', 'death_ml', xlim_min = -1, xlim_max = 1.75)
scatterplot(df_final, 'd_no2_ml', 'death_ml', ylim_min = 0, ylim_max = 200)
# scatterplot(df_final, 'd_no2_ml_ip', 'death_ml_ip', xlim_min = -1, xlim_max = 1.75)
# scatterplot(df_final, 'd_no2_ml_ip', 'death_ml_ip', ylim_min = 0, ylim_max = 200)

### 4.1.5) Tokyo

In [ ]:
# 4.1.5.1) Deaths vs PM2.5
# scatterplot(df_final, 'pm25_tk', 'death_tk', xlim_min = 20, xlim_max = 78)
scatterplot(df_final, 'pm25_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'pm25_tk_ip', 'death_tk_ip', xlim_min = 20, xlim_max = 78)
# scatterplot(df_final, 'pm25_tk_ip', 'death_tk_ip')

# 4.1.5.2) Deaths vs NO2
# scatterplot(df_final, 'no2_tk', 'death_tk', xlim_min = 8, xlim_max = 43)
scatterplot(df_final, 'no2_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'no2_tk_ip', 'death_tk_ip', xlim_min = 8, xlim_max = 43)
# scatterplot(df_final, 'no2_tk_ip', 'death_tk_ip')

# 4.1.5.3) Deaths vs lnPM2.5
# scatterplot(df_final, 'ln_pm25_tk', 'death_tk', xlim_min = 3, xlim_max = 4.36)
scatterplot(df_final, 'ln_pm25_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'ln_pm25_tk_ip', 'death_tk_ip', xlim_min = 3, xlim_max = 4.36)
# scatterplot(df_final, 'ln_pm25_tk_ip', 'death_tk_ip')

# 4.1.5.4) Deaths vs lnNO2
# scatterplot(df_final, 'ln_no2_tk', 'death_tk', xlim_min = 2.08, xlim_max = 3.76)
scatterplot(df_final, 'ln_no2_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'ln_no2_tk_ip', 'death_tk_ip', xlim_min = 2.08, xlim_max = 3.76)
# scatterplot(df_final, 'ln_no2_tk_ip', 'death_tk_ip')

# 4.1.5.5) Deaths vs dPM2.5
# scatterplot(df_final, 'd_pm25_tk', 'death_tk', xlim_min = -1, xlim_max = 0.78)
scatterplot(df_final, 'd_pm25_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'd_pm25_tk_ip', 'death_tk_ip', xlim_min = -1, xlim_max = 0.78)
# scatterplot(df_final, 'd_pm25_tk_ip', 'death_tk_ip')

# 4.1.5.6) Deaths vs dNO2
# scatterplot(df_final, 'd_no2_tk', 'death_tk', xlim_min = -1, xlim_max = 1.75)
scatterplot(df_final, 'd_no2_tk', 'death_tk', ylim_min = 0, ylim_max = 15)
# scatterplot(df_final, 'd_no2_tk_ip', 'death_tk_ip', xlim_min = -1, xlim_max = 1.75)
# scatterplot(df_final, 'd_no2_tk_ip', 'death_tk_ip')

## 4.2) Plotting by date

In [ ]:
# 4.2.1) Create functions to obtain ceiling values

def round_up_to_nearest_10(value):
    return math.ceil(value / 10) * 10

def round_up_to_nearest_100(value):
    return math.ceil(value / 100) * 100

In [ ]:
# 4.2.2) Create dictionary for lockdown start and end dates

lock_dict = {'ny': {'start': '2020-03-20', 'end': '2020-06-08'}, 
             'ml': {'start': '2020-03-09', 'end': '2020-05-18'},
             'tk': {'start': '2020-04-07', 'end': '2020-05-25'}}

In [ ]:
# 4.2.3) Create a function to plot deaths by date

def plot_death_by_date(df, x_column, y_column, lock_start = 'N/A', lock_end = 'N/A'): 
    
    # Create temporary dataframe that removes NAs
    df_temp = df.loc[:, [x_column, y_column]].dropna()
    
    # Find maximum of the y_column
    ymax = df_temp[y_column].values.max()
    
    # Obtain ceiling values using our functions from 4.2.1). If the maximum the of y_column is low, we want multiples of 10, 
    # otherwise multiples of 100.
    if ymax < 50:
        ceiling = round_up_to_nearest_10(ymax)
    else:
        ceiling = round_up_to_nearest_100(ymax)
    
    # Create an additional value which is half of ceiling value - for the array multiplication below an integer value is needed 
    half_ceiling = int(ceiling * 0.5) 
    
    plot = px.line(df_temp, x = df_temp[x_column], y = df_temp[y_column])

    plot.update_layout(title = f"Timeline of {y_column}", xaxis_title = x_column, yaxis_title = y_column,
                       legend = dict(yanchor = "top", y = 0.99, xanchor = "right", x = 0.99))

    plot.update_traces(line_color = 'darkcyan', line_width = 3)
     
    plot.add_trace(go.Scatter(x = df_temp[x_column], y = [ceiling] * len(df_temp), mode = 'lines', 
                              name = str(ceiling) + ' count line', line = dict(dash = 'dash', color = 'black')))

    plot.add_trace(go.Scatter(x = df_temp[x_column], y = [half_ceiling] * len(df_temp), mode = 'lines',
                              name = str(half_ceiling) + ' count line', line = dict(dash = 'dash', color = 'maroon')))
    
    plot.add_trace(go.Scatter(x = [lock_start, lock_start], y = [0, ceiling], mode = 'lines', 
                             line = dict(color = 'orange', width = 2), name = 'lockdown start: ' + lock_start))
    
    plot.add_trace(go.Scatter(x = [lock_end, lock_end], y = [0, ceiling], mode = 'lines', 
                             line = dict(color = 'orange', width = 2), name = 'lockdown end: ' + lock_end))

    # Save the plot into the \figures directory
    plot.write_image(f"..\\figures\_423_ {y_column} by {x_column}.jpg", format = 'jpg', scale = 1.8)

    return(plot)

In [ ]:
# 4.2.4) Create a function to plot pollutant concentration by date

def plot_poll_by_date(df, x_column, poll1, poll2, lock_start = 'N/A', lock_end = 'N/A'):
    
    # Create temporary dataframe that removes NAs
    df_temp = df.loc[:, [x_column, poll1, poll2]].dropna()
    
    # Find maximum of the y_column
    ymax = df_temp[[poll1, poll2]].values.max()
    
    plot = px.line(df_temp, x = x_column, y = poll1)

    plot.add_trace(go.Scatter(x = df_temp[x_column], y = df_temp[poll1], mode = 'lines', name = poll1, 
                              line_color = 'darkgreen', line_width = 2))

    plot.add_trace(go.Scatter(x = df_temp[x_column], y = df_temp[poll2], mode = 'lines', name = poll2,
                              line_color = 'mediumblue', line_width = 2))

    plot.update_layout(title = f"Timeline of {poll1} and {poll2} concentration levels", xaxis_title = x_column, 
                       yaxis_title = '$\\mu g / m^{3}$', legend = dict(yanchor = "top", y = 0.99, xanchor = "right", x = 0.99))
    
    plot.add_trace(go.Scatter(x = [lock_start, lock_start], y = [0, ymax], mode = 'lines', 
                             line = dict(color = 'orange', width = 2), name = 'lockdown start: ' + lock_start))
    
    plot.add_trace(go.Scatter(x = [lock_end, lock_end], y = [0, ymax], mode = 'lines', 
                             line = dict(color = 'orange', width = 2), name = 'lockdown end: ' + lock_end))
    
    # Save the plot into the \figures directory
    plot.write_image(f"..\\figures\_424_concentration of {poll1} and {poll2} by {x_column}.jpg", format = 'jpg', scale = 1.8)
    
    return(plot)

In [ ]:
# 4.2.5) Create a function that shows deaths by date and pollutant concentration in a color code

def plot_death_vs_poll_by_date(df, x_column, y_column, color_column, lock_start = 'N/A', lock_end = 'N/A'):

    # Create temporary dataframe that removes NAs
    df_temp = df.loc[:, [x_column, y_column, color_column]].dropna()
    
    # Find maximum of the y_column
    ymax = df_temp[y_column].values.max()
    
    # Obtain ceiling values using our functions from 4.2.1). If the maximum the of y_column is low, we want multiples of 10, 
    # otherwise multiples of 100.
    if ymax < 50:
        ceiling = round_up_to_nearest_10(ymax)
    else:
        ceiling = round_up_to_nearest_100(ymax)
    
    plot = px.bar(df_temp.sort_values(y_column, ascending = False),x = x_column, y = y_column, color = color_column, 
                  title = f"Timeline of: {y_column} vs {color_column}", color_discrete_sequence = px.colors.qualitative.Vivid)

    plot.update_traces(textposition = 'outside')
    
    plot.update_layout(uniformtext_minsize = 8, uniformtext_mode = 'hide', xaxis_title = x_column, yaxis_title = y_column, 
                       showlegend = False)
    
    plot.add_trace(go.Scatter(x = [lock_start, lock_start], y = [0, ceiling], mode = 'lines', 
                             line = dict(color = 'orange', width = 2)))
    
    plot.add_trace(go.Scatter(x = [lock_end, lock_end], y = [0, ceiling], mode = 'lines', 
                             line = dict(color = 'orange', width = 2)))
    
    plot.add_annotation(x = lock_start, y = ceiling, text = 'lockdown start: ' + lock_start, showarrow = False, yshift = 10)
    
    plot.add_annotation(x = lock_end, y = ceiling, text = 'lockdown end: ' + lock_end, showarrow = False, yshift = 10)
    
    # Save the plot into the \figures directory
    plot.write_image(f"..\\figures\_425_ {y_column} colored by {color_column} by {x_column}.jpg", format = 'jpg', scale = 1.8)
    
    return(plot)

### 4.2.6) New York

In [ ]:
# 4.2.6.1) Timeline of confirmed deaths
plot_death_by_date(df_final, 'date', 'death_ny', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))
# plot_death_by_date(df_final, 'date', 'death_ny_ip', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))

In [ ]:
# 4.2.6.2) Timeline of pollutant concentration levels
plot_poll_by_date(df_final, 'date', 'no2_ny', 'pm25_ny', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))
# plot_poll_by_date(df_final, 'date', 'no2_ny_ip', 'pm25_ny_ip', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))

In [ ]:
# 4.2.6.3) Timeline of death vs pollutant
plot_death_vs_poll_by_date(df_final, 'date', 'death_ny', 'pm25_ny', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))
# plot_death_vs_poll_by_date(df_final, 'date', 'death_ny_ip', 'pm25_ny_ip', lock_dict.get('ny').get('start'), lock_dict.get('ny').get('end'))

### 4.2.7) Milan

In [ ]:
# 4.2.7.1) Timeline of confirmed deaths
plot_death_by_date(df_final, 'date', 'death_ml', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))
# plot_death_by_date(df_final, 'date', 'death_ml_ip', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))

In [ ]:
# 4.2.7.2) Timeline of pollutant concentration levels
plot_poll_by_date(df_final, 'date', 'no2_ml', 'pm25_ml', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))
# plot_poll_by_date(df_final, 'date', 'no2_ml_ip', 'pm25_ml_ip', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))

In [ ]:
# 4.2.7.3) Timeline of death vs pollutant
plot_death_vs_poll_by_date(df_final, 'date', 'death_ml', 'pm25_ml', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))
# plot_death_vs_poll_by_date(df_final, 'date', 'death_ml_ip', 'pm25_ml_ip', lock_dict.get('ml').get('start'), lock_dict.get('ml').get('end'))

### 4.2.8) Tokyo

In [ ]:
# 4.2.8.1) Timeline of confirmed deaths
# plot_death_by_date(df_final, 'date', 'death_tk', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))
plot_death_by_date(df_final, 'date', 'death_tk_ip', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))

In [ ]:
# 4.2.8.2) Timeline of pollutant concentration levels
plot_poll_by_date(df_final, 'date', 'no2_tk', 'pm25_tk', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))
# plot_poll_by_date(df_final, 'date', 'no2_tk_ip', 'pm25_tk_ip', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))

In [ ]:
# 4.2.8.3) Timeline of death vs pollutant
plot_death_vs_poll_by_date(df_final, 'date', 'death_tk', 'pm25_tk', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))
# plot_death_vs_poll_by_date(df_final, 'date', 'death_tk_ip', 'pm25_tk_ip', lock_dict.get('tk').get('start'), lock_dict.get('tk').get('end'))

# 5) Prediction with Artificial Neural Networks (ANNs)

We are going to use TensorFlow and Keras, the main library for building Neural Networks. The main libraries and modules have already been imported - see 1).

## 5.1 Data Preparation

We first define the model input columns for all three cities, based on our dataframe df_final. For each city we have one column vector based on the raw variables and another one based on the interpolated variables. To get a better picture what our neural network might produce, we use these column vectors to produce standardized correlation heatmaps. 
Lastly, as most TensorFlow operations are performed on float values, we use another function to create the input tensors for all three cities, split by raw variables vs. interpolated variables.

In [ ]:
# 5.1.1) For New York
# Variables according to Magazzino et al. (2021)
input_ny = ['pm25_ny', 'no2_ny',\
            'ln_pm25_ny', 'ln_no2_ny',\
            'd_pm25_ny', 'd_no2_ny',\
            'ln_death_ny', 'd_death_ny', 'death_ny']
input_ny_ip = ['pm25_ny_ip', 'no2_ny_ip',\
               'ln_pm25_ny_ip', 'ln_no2_ny_ip',\
               'd_pm25_ny_ip', 'd_no2_ny_ip',\
               'ln_death_ny_ip', 'd_death_ny_ip', 'death_ny_ip']

# Reduced set: Excluding log and difference of the death count
input_ny_red =['pm25_ny', 'no2_ny',\
               'ln_pm25_ny', 'ln_no2_ny',\
               'd_pm25_ny','d_no2_ny',\
               'death_ny']
input_ny_red_ip = ['pm25_ny_ip', 'no2_ny_ip',\
                   'ln_pm25_ny_ip', 'ln_no2_ny_ip',\
                   'd_pm25_ny_ip', 'd_no2_ny_ip',\
                   'death_ny_ip']

# Extended set: Adding all available air pollutants
input_ny_ext = ['pm25_ny', 'no2_ny', 'o3_ny',\
                'ln_pm25_ny', 'ln_no2_ny', 'ln_o3_ny',\
                'd_pm25_ny', 'd_no2_ny', 'd_o3_ny',\
                'ln_death_ny', 'd_death_ny', 'death_ny']

# Note: For New York, we are not including an extended set with interpolated variables, as the interpolation is missing for
# the o3_ny pollutant - see 3.3.4)

# 5.1.2) For Milan
# Variables according to Magazzino et al. (2021)
input_ml = ['pm25_ml', 'no2_ml',\
            'ln_pm25_ml', 'ln_no2_ml',\
            'd_pm25_ml', 'd_no2_ml',\
            'ln_death_ml', 'd_death_ml', 'death_ml']
input_ml_ip = ['pm25_ml_ip', 'no2_ml_ip',\
               'ln_pm25_ml_ip', 'ln_no2_ml_ip',\
               'd_pm25_ml_ip', 'd_no2_ml_ip',\
               'ln_death_ml_ip', 'd_death_ml_ip', 'death_ml_ip']

# Reduced set: Excluding log and difference of the death count
input_ml_red = ['pm25_ml', 'no2_ml',\
                'ln_pm25_ml', 'ln_no2_ml',\
                'd_pm25_ml', 'd_no2_ml',\
                'death_ml']
input_ml_red_ip = ['pm25_ml_ip', 'no2_ml_ip',\
                   'ln_pm25_ml_ip', 'ln_no2_ml_ip',\
                   'd_pm25_ml_ip', 'd_no2_ml_ip',\
                   'death_ml_ip']

# Extended set: Adding all available air pollutants
input_ml_ext = ['pm25_ml', 'no2_ml', 'pm10_ml',\
                'ln_pm25_ml', 'ln_no2_ml', 'ln_pm10_ml',\
                'd_pm25_ml','d_no2_ml', 'd_pm10_ml',\
                'ln_death_ml', 'd_death_ml', 'death_ml']
input_ml_ext_ip = ['pm25_ml_ip', 'no2_ml_ip', 'pm10_ml_ip',\
                   'ln_pm25_ml_ip', 'ln_no2_ml_ip', 'ln_pm10_ml_ip',\
                   'd_pm25_ml_ip','d_no2_ml_ip', 'd_pm10_ml_ip',\
                   'ln_death_ml_ip', 'd_death_ml_ip', 'death_ml_ip']

# 5.1.3) For Tokyo
# Variables according to Magazzino et al. (2021)
input_tk = ['pm25_tk', 'no2_tk',\
            'ln_pm25_tk', 'ln_no2_tk',\
            'd_pm25_tk','d_no2_tk',\
            'ln_death_tk', 'd_death_tk', 'death_tk']
input_tk_ip = ['pm25_tk_ip', 'no2_tk_ip',\
               'ln_pm25_tk_ip', 'ln_no2_tk_ip',\
               'd_pm25_tk_ip', 'd_no2_tk_ip',\
               'ln_death_tk_ip', 'd_death_tk_ip', 'death_tk_ip']

# Reduced set: Excluding log and difference of the death count
input_tk_red = ['pm25_tk', 'no2_tk',\
                'ln_pm25_tk', 'ln_no2_tk',\
                'd_pm25_tk','d_no2_tk',\
                'death_tk']
input_tk_red_ip = ['pm25_tk_ip', 'no2_tk_ip',\
                'ln_pm25_tk_ip', 'ln_no2_tk_ip',\
                'd_pm25_tk_ip','d_no2_tk_ip',\
                'death_tk_ip']

# Extended set: Adding all available air pollutants
input_tk_ext = ['pm25_tk', 'no2_tk', 'pm10_tk', 'o3_tk', 'so2_tk', 'co_tk',\
                'ln_pm25_tk', 'ln_no2_tk', 'ln_pm10_tk', 'ln_o3_tk', 'ln_so2_tk', 'ln_co_tk',\
                'd_pm25_tk','d_no2_tk', 'd_pm10_tk', 'd_o3_tk', 'd_so2_tk', 'd_co_tk',\
                'ln_death_tk', 'd_death_tk', 'death_tk']
input_tk_ext_ip = ['pm25_tk_ip', 'no2_tk_ip', 'pm10_tk_ip', 'o3_tk_ip', 'so2_tk_ip', 'co_tk_ip',\
                'ln_pm25_tk_ip', 'ln_no2_tk_ip', 'ln_pm10_tk_ip', 'ln_o3_tk_ip', 'ln_so2_tk_ip', 'ln_co_tk_ip',\
                'd_pm25_tk_ip', 'd_no2_tk_ip', 'd_pm10_tk_ip', 'd_o3_tk_ip', 'd_so2_tk_ip', 'd_co_tk_ip',\
                'ln_death_tk_ip', 'd_death_tk_ip', 'death_tk_ip']

## 5.2) Create functions for training and testing

In [ ]:
# 5.2.1) Create a function to obtain tensors for our X matrix and our y vector - replacing integer values by tf.float64 values

def create_X_and_y_tensors(all_columns, y_vector: str, dropna = True):
    
    if dropna == True:
        # Create X and y tensors for the raw variables
        df_temp = df_final.loc[:, all_columns].dropna()
        all_columns_without_y_vector = [x for x in all_columns if x != y_vector]
        X = df_temp.loc[:, all_columns_without_y_vector]
        X = tf.convert_to_tensor(X.values, dtype = tf.float64)
        y = df_temp.loc[:, y_vector]
        y = tf.convert_to_tensor(y.values, dtype = tf.float64)
        
    else:
        # Create X and y tensors for the interpolated variables
        df_temp = df_final.loc[:, all_columns]
        # Even though we have interpolated variables, we have to drop some 'secondary' NA variables which were added to the dataframe
        # when, e.g. taking the logarithm of zero (where zero itself was already the result of interpolation)
        all_columns_without_y_vector = [x for x in all_columns if x != y_vector]
        X = df_temp.loc[:, all_columns_without_y_vector]
        X = tf.convert_to_tensor(X.values, dtype = tf.float64)
        y = df_temp_ip.loc[:, y_vector]
        y = tf.convert_to_tensor(y.values, dtype = tf.float64)
    
    return X, y

In [ ]:
# 5.2.2) Create a function to split the dataset into the training set and test set

def split_train_test(X, y, test_size = 0.2, random_state = 0):
    X_train, X_test, y_train, y_test = train_test_split(X.numpy(), y.numpy(), test_size = test_size, random_state = random_state)
    return X_train, X_test, y_train, y_test

In [ ]:
# 5.2.3) Create a function to apply feature scaling 

def apply_feature_scaling(X_train, X_test):
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train, X_test

In [ ]:
# 5.2.4) Create a function for the R2 metric (not sure if we should keep that - I switched to MSE below)

def R2(y, y_hat):
    ss_res =  K.sum(K.square(y - y_hat)) 
    ss_tot = K.sum(K.square(y - K.mean(y))) 
    return ( 1 - ss_res/(ss_tot + K.epsilon()) )

In [ ]:
# 5.2.6 Create a master train and test function – summarizes all functions in 5.3

def master_model_train_test(input_vector, input_vector_name: str, y_vector: str, dropna = True, test_size = 0.2, random_state = 0,\
                        optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                        batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1, callbacks = None, verbose = 1):
    
    print(f"Training the {input_vector_name} training set: \n")
    
    # Create tensors - output: X, y
    X, y = create_X_and_y_tensors(all_columns = input_vector, y_vector = y_vector, dropna = dropna)
    number_of_features = X.shape[1]
    
    # Create Magazzino-Mele-Sarkodie model
    # Input layer
    inputs = layers.Input(name = "input", shape = (number_of_features,))
    # Hidden layers
    h1 = layers.Dense(name = "h1", units = 13, activation = 'relu')(inputs)
    h2 = layers.Dense(name = "h2", units = 8, activation = 'relu')(h1)
    h3 = layers.Dense(name = "h3", units = 7, activation = 'relu')(h2)
    h4 = layers.Dense(name = "h4", units = 8, activation = 'relu')(h3)
    h5 = layers.Dense(name = "h5", units = 3, activation = 'relu')(h4)
    h6 = layers.Dense(name = "h6", units = 1, activation = 'relu')(h5)
    h7 = layers.Dense(name = "h7", units = 1, activation = 'relu')(h6)
    # Output layer
    outputs = tf.keras.activations.linear(h7)
    model = models.Model(inputs = inputs, outputs = outputs, name = "Magazzino-Mele-Sarkodie")
#     model.summary()

    # Split training and test set - output: X_train, X_test, y_train, y_test
    X_train, X_test, y_train, y_test = split_train_test(X, y, test_size = test_size, random_state = random_state)
    
    # Apply feature scaling - output: X_train, X_test
    apply_feature_scaling(X_train, X_test)
    
    # Print train and test shape
#     print("X_train shape: ", X_train.shape)
#     print("y_train shape: ", y_train.shape)
#     print("X_test shape: ", X_test.shape)
#     print("y_test shape: ", y_test.shape)
    
    # Compile model
    model.compile(optimizer = optimizer, loss = loss, metrics = metrics_input)
    
    # Train model - output: History of loss and metric
    print("\n")
    model_fit = model.fit(x = X_train, y = y_train, batch_size = batch_size, epochs = epochs, shuffle = shuffle, 
                          validation_split = validation_size, callbacks = callbacks, verbose = verbose)
    
    # Test model - output: List of loss and metric
    print(f"\n Testing the {input_vector_name} test set: \n") 
    model_eval = model.evaluate(X_test, y_test) # 
    
    # Update model_dict
    train_loss = round(model_fit.history['loss'][-1], 4)
    train_metric = round(model_fit.history[metrics_input][-1], 4)
    val_loss = round(model_fit.history['val_loss'][-1], 4)
    val_metric = round(model_fit.history['val_' + metrics_input][-1], 4)
    test_loss = round(model_eval[0], 4)
    test_metric = round(model_eval[1], 4)
    model_dict.update({input_vector_name: {'train_loss': train_loss, 'val_loss': val_loss, 'test_loss': test_loss,\
                                           'train_metric': train_metric, 'val_metric': val_metric, 'test_metric': test_metric,\
                                           'X_train shape': X_train.shape, 'X_test shape': X_test.shape}})
       
    metrics = [k for k in model_fit.history.keys() if ("loss" not in k) and ("val" not in k)]    
    fig, ax = plt.subplots(nrows = 1, ncols = 2, sharey = True, figsize = (15,3))

    # Create training history plot
    ax[0].set(title = "Training history")   
    ax11 = ax[0].twinx()
    ax[0].plot(model_fit.history['loss'], color = 'black')   
    ax[0].set_xlabel('Epochs')    
    ax[0].set_ylabel('Loss', color = 'black')    
    for metric in metrics:        
        ax11.plot(model_fit.history[metric], label = metric)   
        ax11.set_ylabel("Score", color = 'steelblue')    
    ax11.legend()

    # Create validation history plot
    ax[1].set(title = "Validation history")    
    ax22 = ax[1].twinx()    
    ax[1].plot(model_fit.history['val_loss'], color = 'black')   
    ax[1].set_xlabel('Epochs')    
    ax[1].set_ylabel('Loss', color = 'black')    
    for metric in metrics:          
        ax22.plot(model_fit.history['val_' + metric], label = metric)   
        ax22.set_ylabel("Score", color = "steelblue")
    
     # Save the plot into the \figures directory
    plt.savefig(f"..\\figures\_526_training_validation_test_.jpg", dpi = 300, bbox_inches = 'tight')
    
    return model_fit, model_eval, model_dict

## 5.3) Run the model training and testing

### 5.3.1) Create an empty model dictionary

In [ ]:
model_dict = dict()

### 5.3.2) Apply the master_model_train_test() function and update the model dictionary

#### 5.3.2.1) New York

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ny, input_vector_name = 'input_ny',\
                                            y_vector = 'death_ny', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ny_ip, input_vector_name = 'input_ny_ip',\
                                            y_vector = 'death_ny_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ny_red, input_vector_name = 'input_ny_red',\
                                            y_vector = 'death_ny', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ny_red_ip, input_vector_name = 'input_ny_red_ip',\
                                            y_vector = 'death_ny_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ny_ext, input_vector_name = 'input_ny_ext',\
                                            y_vector = 'death_ny', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

#### 5.3.2.2) Milan

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml, input_vector_name = 'input_ml',\
                                            y_vector = 'death_ml', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml_ip, input_vector_name = 'input_ml_ip',\
                                            y_vector = 'death_ml_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml_red, input_vector_name = 'input_ml_red',\
                                            y_vector = 'death_ml', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml_red_ip, input_vector_name = 'input_ml_red_ip',\
                                            y_vector = 'death_ml_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml_ext, input_vector_name = 'input_ml_ext',\
                                            y_vector = 'death_ml', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_ml_ext_ip, input_vector_name = 'input_ml_ext_ip',\
                                            y_vector = 'death_ml_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

#### 5.3.2.3) Tokyo

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk, input_vector_name = 'input_tk',\
                                            y_vector = 'death_tk', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk_ip, input_vector_name = 'input_tk_ip',\
                                            y_vector = 'death_tk_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk_red, input_vector_name = 'input_tk_red',\
                                            y_vector = 'death_tk', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk_red_ip, input_vector_name = 'input_tk_red_ip',\
                                            y_vector = 'death_tk_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk_ext, input_vector_name = 'input_tk_ext',\
                                            y_vector = 'death_tk', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

In [ ]:
model_fit, model_eval, model_dict = master_model_train_test(input_vector = input_tk_ext_ip, input_vector_name = 'input_tk_ext_ip',\
                                            y_vector = 'death_tk_ip', dropna = True, test_size = 0.2, random_state = 0,\
                                            optimizer = 'adam', loss = 'mean_absolute_error', metrics_input = 'mse',\
                                            batch_size = 100, epochs = 700, shuffle = True, validation_size = 0.1,\
                                            callbacks = None, verbose = 0)

### 5.3.3) Create a summary table from the model dictionary

In [ ]:
summary = pd.DataFrame.from_dict(model_dict, orient = 'index') # orient = 'index': The dictionary keys are used for the rows
print(summary)